Repository woowacourse-teams/2023-zipgo, pull requests merged in 2023-09, with the labels that each got.

#375 feat: 로그인 여부 확인 로직 수정, zipgoLocalStorage 추가
  frontend/src/apis/auth.ts
  frontend/src/apis/index.ts
  frontend/src/components/@common/AxiosInterceptors/AxiosInterceptors.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/context/petProfile/PetProfileContext.tsx
  frontend/src/hooks/auth.ts
  frontend/src/hooks/query/auth.ts
  frontend/src/pages/PetProfile/PetProfileEdition/PetProfileEditionContent.tsx
  frontend/src/pages/PetProfile/PetProfileImageAdditionContent.tsx
  frontend/src/types/auth/client.ts
  frontend/src/types/auth/remote.ts
  frontend/src/types/petProfile/client.ts
  frontend/src/utils/localStorage.ts
Labels: ✨ Feature, 🔨 Refactor, 📚 Frontend

#378 refactor: 리뷰 쿼리 서비스 리팩터링
  backend/src/main/java/zipgo/auth/dto/AuthCredentials.java
  backend/src/main/java/zipgo/auth/dto/AuthResponse.java
  backend/src/main/java/zipgo/auth/dto/TokenResponse.java
  backend/src/main/java/zipgo/auth/presentation/AuthController.java
  backend/src/main/java/zipgo/auth/presentation/JwtMandatoryArgumentResolver.java
  backend/src/main/java/zipgo/auth/presentation/OptionalJwtArgumentResolver.java
  backend/src/main/java/zipgo/image/dto/ImageResponse.java
  backend/src/main/java/zipgo/image/presentaion/ImageController.java
  backend/src/main/java/zipgo/pet/dto/request/CreatePetRequest.java
  backend/src/main/java/zipgo/pet/dto/request/UpdatePetRequest.java
  backend/src/main/java/zipgo/pet/dto/response/BreedsResponses.java
  backend/src/main/java/zipgo/pet/dto/response/PetResponse.java
  backend/src/main/java/zipgo/pet/dto/response/PetResponses.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/domain/Reviews.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/dto/FilterMetadataResponse.java
  backend/src/main/java/zipgo/petfood/dto/FilterRequest.java
  backend/src/main/java/zipgo/petfood/dto/FilterResponse.java
  backend/src/main/java/zipgo/petfood/dto/GetPetFoodResponse.java
  backend/src/main/java/zipgo/petfood/dto/GetPetFoodsResponse.java
  backend/src/main/java/zipgo/petfood/dto/PetFoodResponse.java
  backend/src/main/java/zipgo/petfood/dto/PetFoodSelectRequest.java
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryImpl.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
  backend/src/main/java/zipgo/review/domain/type/AdverseReactionType.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsSummaryResponse.java
  backend/src/main/java/zipgo/review/dto/response/RatingSummaryElement.java
  backend/src/main/java/zipgo/review/dto/response/SummaryElement.java
  backend/src/main/java/zipgo/review/dto/response/type/AdverseReactionResponse.java
  backend/src/main/java/zipgo/review/dto/response/type/RatingInfoResponse.java
  backend/src/main/java/zipgo/review/dto/response/type/RatingSummaryResponse.java
  backend/src/main/java/zipgo/review/dto/response/type/StoolConditionResponse.java
  backend/src/main/java/zipgo/review/dto/response/type/TastePreferenceResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/pet/application/PetQueryServiceTest.java
  backend/src/test/java/zipgo/pet/application/PetServiceTest.java
  backend/src/test/java/zipgo/pet/domain/fixture/PetFixture.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/domain/ReviewsTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/domain/AdverseReactionTest.java
  backend/src/test/java/zipgo/review/domain/ReviewTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewQueryRepositoryImplTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewRepositoryTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: 🔨 Refactor, 🕋 Backend

#383 chore: 프론트엔드 배포 워크플로우 작성
  .github/workflows/frontend-deploy.yml
  frontend/Dockerfile.dev
Labels: 🌍 Infrastructure, 📚 Frontend

#381 feat: 사용자 정보 조회, 리뷰 조회 내 사용자 식별자를 추가로 반환
  backend/src/main/java/zipgo/auth/dto/AuthResponse.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/domain/repository/dto/FindReviewsQueryResponse.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewResponse.java
  backend/src/main/java/zipgo/review/infra/persist/ReviewQueryRepositoryImpl.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#360 refactor: 반려동물 정보 등록, 수정 관련 리팩터링
  frontend/src/apis/petProfile.ts
  frontend/src/components/PetProfile/PetInfoInForm.tsx
  frontend/src/components/PetProfile/PetProfileEditionForm/PetProfileEditionForm.stories.tsx
  frontend/src/components/PetProfile/PetProfileEditionForm/PetProfileEditionForm.tsx
  frontend/src/components/PetProfile/PetProfileImageUploader.tsx
  frontend/src/constants/petProfile.ts
  frontend/src/context/petProfile/PetAdditionContext.tsx
  frontend/src/hooks/petProfile.ts
  frontend/src/hooks/petProfile/usePetProfileAddition.ts
  frontend/src/hooks/petProfile/usePetProfileEdition.ts
  frontend/src/hooks/petProfile/usePetProfileStep.ts
  frontend/src/hooks/petProfile/usePetProfileValidation.ts
  frontend/src/hooks/query/petProfile.ts
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileAgeAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileBreedAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileGenderAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileImageAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileNameAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfilePetSizeAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileWeightAddition.tsx
  frontend/src/pages/PetProfile/PetProfileEdition/PetProfileEdition.tsx
  frontend/src/pages/PetProfile/PetProfileEdition/PetProfileEditionContent.tsx
  frontend/src/pages/PetProfile/PetProfileImageAddition.tsx
  frontend/src/router/Router.tsx
  frontend/src/types/petProfile/client.ts
  frontend/src/types/petProfile/remote.ts
Labels: 🔨 Refactor, 📚 Frontend

#388 feat: 폼 컴포넌트 테스트 추가 및 리뷰 관련 코드 리팩터링
  frontend/src/components/PetProfile/PetProfileEditionForm/PetProfileEditionForm.stories.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.stories.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/components/Review/ReviewItem/ReveiwItem.stories.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/constants/review.ts
  frontend/src/hooks/petProfile/usePetProfileEdition.ts
  frontend/src/hooks/review/useReviewForm.ts
Labels: ✨ Feature, 📚 Frontend

#389 chore: 프론트엔드 배포 워크플로우 dev/prod 분리
  .github/workflows/frontend-deploy-dev.yml
  .github/workflows/frontend-deploy-prod.yml
  frontend/.env.development
  frontend/config/paths.js
  frontend/config/webpack.dev.js
  frontend/package.json
Labels: 🌍 Infrastructure, 🔨 Refactor, 📚 Frontend

#358 feat: 로그인 시 사용자 id, 리뷰 조회 시 작성자 id 등 api 명세 수정
  frontend/package.json
  frontend/src/apis/image.ts
  frontend/src/components/Review/ReviewItem/ReveiwItem.stories.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/hooks/query/auth.ts
  frontend/src/mocks/fixtures/auth.ts
  frontend/src/mocks/fixtures/review.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/ReviewAddition/ReviewAddition.tsx
  frontend/src/types/auth/client.ts
  frontend/src/types/common/image/remote.ts
  frontend/src/types/petProfile/client.ts
  frontend/src/types/review/client.ts
Labels: ✨ Feature, 📚 Frontend

#395 fix: dev.zipgo.pet 로그인 시 에러나는 문제 해결
  frontend/package.json
  frontend/src/index.tsx
Labels: 🐞 Bug, 📚 Frontend

#400 feat: Google Analytics 스크립트 코드 심기
  frontend/public/index.html
Labels: ✨ Feature, 📚 Frontend, ⚙️ Setting

#398 feat: 반려동물 여러마리 등록 기능 추가
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/src/components/PetProfile/PetItem.tsx
  frontend/src/components/PetProfile/PetList.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/hooks/common/useImageUpload.ts
  frontend/src/hooks/query/auth.ts
  frontend/src/hooks/query/petProfile.ts
  frontend/src/hooks/query/review.ts
  frontend/src/hooks/review/useReviewForm.ts
  frontend/src/types/review/remote.ts
Labels: ✨ Feature, 📚 Frontend

#403 fix: 프론트엔드 배포 워크플로우 노드버전 18로 변경
  .github/workflows/frontend-deploy-dev.yml
  .github/workflows/frontend-deploy-prod.yml
  .github/workflows/storybook.yml
Labels: 🌍 Infrastructure, 🐞 Bug

#391 feat: 유저당 반려동물이 여러마리 등록 가능
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/pet/domain/Pet.java
  backend/src/main/java/zipgo/review/application/ReviewService.java
  backend/src/main/java/zipgo/review/dto/request/CreateReviewRequest.java
  backend/src/main/java/zipgo/review/exception/InvalidPetOwnerException.java
  backend/src/test/java/zipgo/member/domain/MemberTest.java
  backend/src/test/java/zipgo/petfood/domain/ReviewsTest.java
  backend/src/test/java/zipgo/review/application/ReviewsServiceTest.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#406 chore: 도커 파일 수정
  frontend/Dockerfile
  frontend/Dockerfile.dev
Labels: 🐞 Bug, 📚 Frontend

#390 feat: 어드민 페이지 식품 조회/수정/삭제
  backend/docker/docker-compose.dev.yml
  backend/src/main/java/zipgo/admin/application/AdminQueryService.java
  backend/src/main/java/zipgo/admin/application/AdminService.java
  backend/src/main/java/zipgo/admin/dto/PetFoodReadResponse.java
  backend/src/main/java/zipgo/admin/dto/PetFoodUpdateRequest.java
  backend/src/main/java/zipgo/admin/presentation/AdminController.java
  backend/src/main/java/zipgo/brand/domain/repository/BrandRepository.java
  backend/src/main/java/zipgo/brand/exception/BrandNotFoundException.java
  backend/src/main/java/zipgo/petfood/domain/HasStandard.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/domain/repository/FunctionalityRepository.java
  backend/src/main/java/zipgo/petfood/domain/repository/PrimaryIngredientRepository.java
  backend/src/main/java/zipgo/petfood/exception/FunctionalityNotFoundException.java
  backend/src/main/java/zipgo/petfood/exception/PrimaryIngredientNotFoundException.java
  backend/src/main/resources/templates/admin/login.html
  backend/src/main/resources/templates/admin/pet-foods.html
  backend/src/main/resources/templates/fragments/sidebar.html
  backend/src/test/java/zipgo/admin/application/AdminQueryServiceTest.java
  backend/src/test/java/zipgo/admin/application/AdminServiceTest.java
  backend/src/test/java/zipgo/brand/domain/BrandTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodPrimaryIngredientFixture.java
  backend/src/test/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/presentation/PetFoodControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#410 fix: 반려동물 2마리 이상일 때 1마리 삭제 시 hasPet이 false가 돼서 리뷰 작성이 안되는 문제 해결
  frontend/src/hooks/query/petProfile.ts
Labels: 🐞 Bug, 📚 Frontend

#414 feat: 반려동물 식별자 추가 반환
  backend/src/main/java/zipgo/pet/domain/AgeGroup.java
  backend/src/main/java/zipgo/pet/dto/response/PetResponse.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#401 refactor: 펫푸드 패키지 리팩터링
  backend/src/main/java/zipgo/admin/application/AdminQueryService.java
  backend/src/main/java/zipgo/admin/presentation/AdminController.java
  backend/src/main/java/zipgo/common/util/StringUtils.java
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/domain/Functionality.java
  backend/src/main/java/zipgo/petfood/domain/PrimaryIngredient.java
  backend/src/main/java/zipgo/petfood/domain/repository/FunctionalityRepository.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/domain/repository/PrimaryIngredientRepository.java
  backend/src/main/java/zipgo/petfood/dto/request/FilterRequest.java
  backend/src/main/java/zipgo/petfood/dto/request/PetFoodSelectRequest.java
  backend/src/main/java/zipgo/petfood/dto/response/FilterMetadataResponse.java
  backend/src/main/java/zipgo/petfood/dto/response/FilterResponse.java
  backend/src/main/java/zipgo/petfood/dto/response/GetPetFoodResponse.java
  backend/src/main/java/zipgo/petfood/dto/response/GetPetFoodsResponse.java
  backend/src/main/java/zipgo/petfood/dto/response/PetFoodResponse.java
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryImpl.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/test/java/zipgo/admin/application/AdminServiceTest.java
  backend/src/test/java/zipgo/common/util/StringUtilsTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceUnitTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/FunctionalityFixture.java
  backend/src/test/java/zipgo/petfood/presentation/PetFoodControllerTest.java
Labels: 🔨 Refactor, 🕋 Backend

#415 refactor: PetQueryService 개선
  backend/src/main/java/zipgo/pet/application/PetQueryService.java
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/application/dto/PetDto.java
  backend/src/main/java/zipgo/pet/domain/Breed.java
  backend/src/main/java/zipgo/pet/domain/Breeds.java
  backend/src/main/java/zipgo/pet/domain/Pet.java
  backend/src/main/java/zipgo/pet/domain/repository/BreedRepository.java
  backend/src/main/java/zipgo/pet/dto/response/BreedsResponses.java
  backend/src/main/java/zipgo/pet/dto/response/PetResponse.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewResponse.java
  backend/src/main/java/zipgo/review/infra/persist/ReviewQueryRepositoryImpl.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/pet/application/PetQueryServiceTest.java
  backend/src/test/java/zipgo/pet/application/PetServiceTest.java
  backend/src/test/java/zipgo/pet/domain/BreedsTest.java
  backend/src/test/java/zipgo/pet/domain/fixture/BreedFixture.java
  backend/src/test/java/zipgo/pet/domain/fixture/BreedsFixture.java
  backend/src/test/java/zipgo/pet/domain/fixture/PetFixture.java
  backend/src/test/java/zipgo/pet/domain/repository/BreedRepositoryTest.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/application/ReviewsServiceTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewQueryRepositoryImplTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewRepositoryTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/truncate.sql
Labels: 🔨 Refactor, 🕋 Backend

#420 feat: 맞춤 리뷰 기능 추가
  frontend/src/components/Review/ReviewList/ReviewControls/FilterDialog/FilterDialog.tsx
  frontend/src/components/Review/ReviewList/ReviewControls/ReviewControls.tsx
  frontend/src/constants/petProfile.ts
  frontend/src/hooks/petProfile/usePetProfileEdition.ts
  frontend/src/hooks/review/useCustomReview.ts
  frontend/src/hooks/review/useReviewFilterList.ts
  frontend/src/mocks/fixtures/auth.ts
  frontend/src/mocks/fixtures/petProfile.ts
  frontend/src/types/petProfile/client.ts
  frontend/src/types/petProfile/remote.ts
Labels: ✨ Feature, 📚 Frontend

#418 fix: 리뷰 메타데이터 믹스견 중복 수정
  backend/src/main/java/zipgo/pet/domain/Breeds.java
  backend/src/main/java/zipgo/pet/dto/response/BreedResponses.java
  backend/src/main/java/zipgo/pet/dto/response/BreedsResponses.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/domain/repository/dto/FindReviewsFilterRequest.java
Labels: 🐞 Bug, 🕋 Backend

#426 feature: 사용자 업로드 이미지 최적화
  frontend/.pnp.cjs
  frontend/.pnp.loader.mjs
  frontend/.yarn/cache/browser-image-compression-npm-2.0.2-21a831f9cb-16051f07b0.zip
  frontend/.yarn/cache/uzip-npm-0.20201231.0-122f770c6a-34253f4c3d.zip
  frontend/package.json
  frontend/src/constants/petProfile.ts
  frontend/src/hooks/common/useImageUpload.ts
  frontend/yarn.lock
Labels: ✨ Feature, 📚 Frontend

#429 refactor: 조회 쿼리 개선
  backend/build.gradle
  backend/src/main/java/zipgo/common/config/S3Config.java
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/dto/response/GetPetFoodQueryResponse.java
  backend/src/main/java/zipgo/petfood/dto/response/GetPetFoodsResponse.java
  backend/src/main/java/zipgo/petfood/dto/response/PetFoodResponse.java
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryImpl.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/domain/repository/ReviewQueryRepository.java
  backend/src/main/java/zipgo/review/infra/persist/ReviewQueryRepositoryImpl.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/presentation/PetFoodControllerTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/application/ReviewsServiceTest.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
Labels: 🔨 Refactor, 🕋 Backend

#437 fix: 도커파일 잘못된 명령어 수정
  frontend/Dockerfile.dev
Labels: ✨ Feature, 📚 Frontend

#440 feature: responsive-loader, sharp 제거 후 webp 수동 전환
  frontend/.eslintrc.js
  frontend/.pnp.cjs
  frontend/.yarn/cache/@types-node-npm-18.17.17-ccfd557b69-ff28f347c7.zip
  frontend/.yarn/cache/b4a-npm-1.6.4-080bcba845-81b086f9af.zip
  frontend/.yarn/cache/color-npm-4.2.3-4a23227581-0579629c02.zip
  frontend/.yarn/cache/color-string-npm-1.9.1-dc020e56be-c13fe7cff7.zip
  frontend/.yarn/cache/decompress-response-npm-6.0.0-359de2878c-d377cf47e0.zip
  frontend/.yarn/cache/detect-libc-npm-2.0.2-03afa59137-2b2cd3649b.zip
  frontend/.yarn/cache/expand-template-npm-2.0.3-80de959306-588c198472.zip
  frontend/.yarn/cache/fast-fifo-npm-1.3.2-391cc25df4-6bfcba3e4d.zip
  frontend/.yarn/cache/github-from-package-npm-0.0.0-519f80c9a1-14e448192a.zip
  frontend/.yarn/cache/is-arrayish-npm-0.3.2-f856180f79-977e64f54d.zip
  frontend/.yarn/cache/loader-utils-npm-3.2.1-76ae2fd253-4e3ea054cd.zip
  frontend/.yarn/cache/mimic-response-npm-3.1.0-a4a24b4e96-25739fee32.zip
  frontend/.yarn/cache/napi-build-utils-npm-1.0.2-892e4bba56-06c14271ee.zip
  frontend/.yarn/cache/node-abi-npm-3.47.0-9d2a86a633-ff8498dcd4.zip
  frontend/.yarn/cache/node-addon-api-npm-6.1.0-634c545b39-3a539510e6.zip
  frontend/.yarn/cache/prebuild-install-npm-7.1.1-cb9fc9d341-dbf96d0146.zip
  frontend/.yarn/cache/queue-tick-npm-1.0.1-10bd6eaf3d-57c3292814.zip
  frontend/.yarn/cache/responsive-loader-npm-3.1.2-1d13e078db-3df2e2ca21.zip
  frontend/.yarn/cache/sharp-npm-0.32.6-6b3822c437-0cca1d16b1.zip
  frontend/.yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  frontend/.yarn/cache/simple-get-npm-4.0.1-fa2a97645d-e4132fd27c.zip
  frontend/.yarn/cache/simple-swizzle-npm-0.2.2-8dee37fad1-a7f3f2ab5c.zip
  frontend/.yarn/cache/streamx-npm-2.15.1-d5dbdeeb03-6f2b4fed68.zip
  frontend/.yarn/cache/tar-fs-npm-3.0.4-fa3da2e321-dcf4054f9e.zip
  frontend/.yarn/cache/tar-stream-npm-3.1.6-ce3ac17e49-f3627f9185.zip
  frontend/.yarn/cache/tunnel-agent-npm-0.6.0-64345ab7eb-05f6510358.zip
  frontend/Dockerfile.dev
  frontend/config/webpack.common.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/assets/png/landing_banner.png
  frontend/src/assets/webp/landing_banner.webp
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/types/assets/assets.d.ts
  frontend/yarn.lock
Labels: 🔨 Refactor, 📚 Frontend

#441 Release: 1.3.0
  frontend/.eslintrc.js
  frontend/.pnp.cjs
  frontend/.yarn/cache/@types-node-npm-18.17.17-ccfd557b69-ff28f347c7.zip
  frontend/.yarn/cache/b4a-npm-1.6.4-080bcba845-81b086f9af.zip
  frontend/.yarn/cache/color-npm-4.2.3-4a23227581-0579629c02.zip
  frontend/.yarn/cache/color-string-npm-1.9.1-dc020e56be-c13fe7cff7.zip
  frontend/.yarn/cache/decompress-response-npm-6.0.0-359de2878c-d377cf47e0.zip
  frontend/.yarn/cache/detect-libc-npm-2.0.2-03afa59137-2b2cd3649b.zip
  frontend/.yarn/cache/expand-template-npm-2.0.3-80de959306-588c198472.zip
  frontend/.yarn/cache/fast-fifo-npm-1.3.2-391cc25df4-6bfcba3e4d.zip
  frontend/.yarn/cache/github-from-package-npm-0.0.0-519f80c9a1-14e448192a.zip
  frontend/.yarn/cache/is-arrayish-npm-0.3.2-f856180f79-977e64f54d.zip
  frontend/.yarn/cache/loader-utils-npm-3.2.1-76ae2fd253-4e3ea054cd.zip
  frontend/.yarn/cache/mimic-response-npm-3.1.0-a4a24b4e96-25739fee32.zip
  frontend/.yarn/cache/napi-build-utils-npm-1.0.2-892e4bba56-06c14271ee.zip
  frontend/.yarn/cache/node-abi-npm-3.47.0-9d2a86a633-ff8498dcd4.zip
  frontend/.yarn/cache/node-addon-api-npm-6.1.0-634c545b39-3a539510e6.zip
  frontend/.yarn/cache/prebuild-install-npm-7.1.1-cb9fc9d341-dbf96d0146.zip
  frontend/.yarn/cache/queue-tick-npm-1.0.1-10bd6eaf3d-57c3292814.zip
  frontend/.yarn/cache/responsive-loader-npm-3.1.2-1d13e078db-3df2e2ca21.zip
  frontend/.yarn/cache/sharp-npm-0.32.6-6b3822c437-0cca1d16b1.zip
  frontend/.yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  frontend/.yarn/cache/simple-get-npm-4.0.1-fa2a97645d-e4132fd27c.zip
  frontend/.yarn/cache/simple-swizzle-npm-0.2.2-8dee37fad1-a7f3f2ab5c.zip
  frontend/.yarn/cache/streamx-npm-2.15.1-d5dbdeeb03-6f2b4fed68.zip
  frontend/.yarn/cache/tar-fs-npm-3.0.4-fa3da2e321-dcf4054f9e.zip
  frontend/.yarn/cache/tar-stream-npm-3.1.6-ce3ac17e49-f3627f9185.zip
  frontend/.yarn/cache/tunnel-agent-npm-0.6.0-64345ab7eb-05f6510358.zip
  frontend/config/webpack.common.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/assets/png/landing_banner.png
  frontend/src/assets/webp/landing_banner.webp
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/types/assets/assets.d.ts
  frontend/yarn.lock
Labels: ✨ Feature

#431 feat: 식품 필터링 결과 없을 때 텍스트 추가
  frontend/src/components/Food/FoodList/FoodList.tsx
Labels: ✨ Feature, 🔨 Refactor, 📚 Frontend

#428 refactor: Toast 사용 방법 리팩터링 / 강아지 터치 이스터에그 수정
  frontend/src/components/@common/Toast/ToastContainer.tsx
  frontend/src/context/Toast/ToastContext.tsx
  frontend/src/hooks/toast/useToast.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/router/Router.tsx
Labels: 🔨 Refactor, 📚 Frontend

#449 feat: 리뷰 요약 조회 json 프로퍼티 명 수정
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/dto/request/PetFoodSelectRequest.java
  backend/src/main/java/zipgo/review/dto/response/type/RatingInfoResponse.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: 🐞 Bug, 🕋 Backend
