Repository woowacourse-teams/2023-zipgo, pull requests merged in 2023-07, with the labels that each got.

#19 백엔드 프로젝트 세팅
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/zipgo/ZipgoApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/zipgo/ZipgoApplicationTests.java
Labels: 🕋 Backend, ⚙️ Setting

#20 feat: 식품 목록 조회 API
  backend/build.gradle
  backend/gradlew
  backend/http/get-pet-foods.http
  backend/settings.gradle
  backend/src/main/java/zipgo/ZipgoApplication.java
  backend/src/main/java/zipgo/controller/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/controller/PetFoodController.java
  backend/src/main/java/zipgo/controller/dto/GetPetFoodsResponse.java
  backend/src/main/java/zipgo/controller/dto/PetFoodResponse.java
  backend/src/main/java/zipgo/domain/Keyword.java
  backend/src/main/java/zipgo/domain/PetFood.java
  backend/src/main/java/zipgo/domain/repository/KeywordRepository.java
  backend/src/main/java/zipgo/domain/repository/PetFoodRepository.java
  backend/src/main/java/zipgo/exception/KeywordException.java
  backend/src/main/java/zipgo/service/PetFoodService.java
  backend/src/main/resources/application-rosie.yml
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/test/java/zipgo/ZipgoApplicationTests.java
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/domain/KeywordTest.java
  backend/src/test/java/zipgo/domain/PetFoodTest.java
  backend/src/test/java/zipgo/domain/fixture/PetFoodFixture.java
  backend/src/test/java/zipgo/domain/repository/KeywordRepositoryTest.java
  backend/src/test/java/zipgo/domain/repository/PetFoodRepositoryTest.java
  backend/src/test/java/zipgo/service/PetFoodServiceTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
  backend/src/test/resources/truncate.sql
Labels: ✨ Feature, 🕋 Backend

#26 서버 배포 스크립트 작성
  backend/deploy.sh
Labels: ✨ Feature, 🌍 Infrastructure, 🕋 Backend

#29 Styled-Components ThemeProvider 적용
  frontend/.eslintrc.js
  frontend/.storybook/preview.tsx
  frontend/src/App.tsx
  frontend/src/styles/styled-components.d.ts
  frontend/src/styles/theme.ts
Labels: ✨ Feature, 📚 Frontend, ⚙️ Setting

#32 백엔드 코드 커버리지 설정(with Jacoco)
  backend/build.gradle
Labels: 🌍 Infrastructure, 🕋 Backend, ⚙️ Setting

#33 식품 목록 조회 API 응답 형식 수정
  backend/src/main/java/zipgo/controller/dto/GetPetFoodsResponse.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
Labels: 🔨 Refactor, 🕋 Backend

#30 에러 응답 형식 추가
  backend/src/main/java/zipgo/controller/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/controller/dto/ErrorResponse.java
  backend/src/main/java/zipgo/exception/KeywordException.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/controller/GlobalExceptionHandlerTest.java
Labels: 🔨 Refactor, 🕋 Backend, ⚙️ Setting

#36 prod yml 생성
  backend/src/main/resources/application-prod.yml
Labels: 🌍 Infrastructure, 🕋 Backend

#38 식품 목록 조회 API 인터페이스 구현
  frontend/.env.development
  frontend/src/apis/food.ts
  frontend/src/apis/index.ts
  frontend/src/components/@common/ErrorBoundary.tsx
  frontend/src/components/@common/QueryBoundary.tsx
  frontend/src/hooks/query/food.ts
  frontend/src/index.tsx
  frontend/src/mocks/fixtures/food.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/food.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/worker.ts
  frontend/src/types/common/errorBoundary.ts
  frontend/src/types/common/utility.ts
  frontend/src/types/food/client.ts
  frontend/src/types/food/remote.ts
Labels: ✨ Feature, 📚 Frontend

#43 색상 팔레트 추가
  frontend/src/styles/theme.ts
Labels: ✨ Feature, 📚 Frontend

#41 Header와 Footer 컴포넌트 구현
  frontend/.eslintrc.js
  frontend/.stylelintrc.js
  frontend/src/assets/zipgo_logo.svg
  frontend/src/components/@common/Footer/Footer.stories.tsx
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/@common/Header/Header.stories.tsx
  frontend/src/components/@common/Header/Header.tsx
Labels: ✨ Feature, 📚 Frontend

#45 식품 목록 컴포넌트 및 아이템 컴포넌트 구현
  frontend/.eslintrc.js
  frontend/.stylelintrc.js
  frontend/src/components/Food/FoodItem/FoodItem.stories.tsx
  frontend/src/components/Food/FoodItem/FoodItem.tsx
  frontend/src/components/Food/FoodList/FoodList.stories.tsx
  frontend/src/components/Food/FoodList/FoodList.tsx
  frontend/src/mocks/fixtures/food.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/types/food/client.ts
Labels: ✨ Feature, 📚 Frontend

#37 프론트엔드 CI/CD 구축
  frontend/.dockerignore
  frontend/.yarnrc.yml
  frontend/Dockerfile
  frontend/conf/conf.d/default.conf
  frontend/config/webpack.common.js
Labels: 🌍 Infrastructure, 📚 Frontend

#48 1차 데모 랜딩 페이지 구현
  frontend/.eslintrc.js
  frontend/src/App.tsx
  frontend/src/assets/png/landing_banner.png
  frontend/src/assets/svg/zipgo_logo_dark.svg
  frontend/src/assets/svg/zipgo_logo_light.svg
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Template.tsx
  frontend/src/mocks/fixtures/food.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/utils/setScreenSize.ts
  frontend/src/utils/styled-components.ts
Labels: ✨ Feature, 📚 Frontend

#46 Swagger UI 설정
  backend/.gitignore
  backend/build.gradle
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
Labels: 🕋 Backend, ⚙️ Setting

#47 CORS 설정
  backend/src/main/java/zipgo/config/WebConfig.java
Labels: ✨ Feature, 🕋 Backend

#73 fix: getFoodList keyword undefined 제대로 리턴되도록 수정
  frontend/.eslintrc.js
  frontend/src/apis/food.ts
Labels: 🐞 Bug, 📚 Frontend

#70 feat: 백엔드 CI
  .github/workflows/gradle.yml
Labels: ✨ Feature, 🕋 Backend

#56 refactor: 서비스 레파지토리 단위테스트 적용
  backend/src/main/java/zipgo/common/config/WebConfig.java
  backend/src/main/java/zipgo/petfood/application/PetFoodService.java
  backend/src/main/java/zipgo/petfood/domain/Keyword.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/domain/repository/KeywordRepository.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodRepository.java
  backend/src/main/java/zipgo/petfood/exception/KeywordException.java
  backend/src/main/java/zipgo/petfood/presentation/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/petfood/presentation/dto/ErrorResponse.java
  backend/src/main/java/zipgo/petfood/presentation/dto/GetPetFoodsResponse.java
  backend/src/main/java/zipgo/petfood/presentation/dto/PetFoodResponse.java
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/controller/GlobalExceptionHandlerTest.java
  backend/src/test/java/zipgo/domain/fixture/PetFoodFixture.java
  backend/src/test/java/zipgo/petfood/domain/KeywordTest.java
  backend/src/test/java/zipgo/petfood/domain/PetFoodTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFixture.java
  backend/src/test/java/zipgo/petfood/domain/repository/KeywordRepositoryTest.java
  backend/src/test/java/zipgo/petfood/domain/repository/PetFoodRepositoryTest.java
  backend/src/test/java/zipgo/petfood/service/PetFoodServiceTest.java
  backend/src/test/java/zipgo/service/PetFoodServiceTest.java
Labels: 🔨 Refactor, ⚙️ Setting

#76 feat: Brand 엔티티 생성
  backend/src/main/java/zipgo/brand/domain/Brand.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/test/java/zipgo/brand/domain/BrandTest.java
  backend/src/test/java/zipgo/petfood/domain/PetFoodTest.java
Labels: ✨ Feature

#78 feat: 리뷰 조회 기능 부분
  backend/build.gradle
  backend/src/main/java/zipgo/ZipgoApplication.java
  backend/src/main/java/zipgo/common/entity/BaseTimeEntity.java
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
  backend/src/main/java/zipgo/review/domain/Review.java
  backend/src/main/java/zipgo/review/domain/StoolCondition.java
  backend/src/main/java/zipgo/review/domain/TastePreference.java
  backend/src/main/java/zipgo/review/repository/ReviewRepository.java
Labels: ✨ Feature, 🕋 Backend

#79 support: Querydsl 의존성 및 환경 설정
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/zipgo/common/config/QueryDslConfig.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
Labels: 🕋 Backend, 🧚🏻‍♀️ Support

#82 feat: 리뷰 조회 기능 추가 구현
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/member/domain/repository/MemberRepository.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
  backend/src/main/java/zipgo/review/domain/Review.java
  backend/src/main/java/zipgo/review/domain/StoolCondition.java
  backend/src/main/java/zipgo/review/domain/TastePreference.java
  backend/src/main/java/zipgo/review/domain/repository/AdverseReactionRepository.java
  backend/src/main/java/zipgo/review/domain/repository/ReviewRepository.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/QueryServiceTest.java
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/petfood/service/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryQueryServiceTest.java
  backend/src/test/java/zipgo/review/fixture/AdverseReactionFixture.java
  backend/src/test/java/zipgo/review/fixture/MemberFixture.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/truncate.sql
Labels: ✨ Feature, 🕋 Backend

#84 refactor: GetPetFoodsResponse 프로퍼티명 수정
  backend/src/main/java/zipgo/petfood/presentation/dto/GetPetFoodsResponse.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
Labels: 🔨 Refactor

#80 feat: 식품 상세 조회 API
  backend/src/main/java/zipgo/brand/domain/repository/BrandRepository.java
  backend/src/main/java/zipgo/common/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/common/entity/BaseTimeEntity.java
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/petfood/application/PetFoodService.java
  backend/src/main/java/zipgo/petfood/domain/Functionality.java
  backend/src/main/java/zipgo/petfood/domain/HasStandard.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/domain/PrimaryIngredients.java
  backend/src/main/java/zipgo/petfood/domain/Reviews.java
  backend/src/main/java/zipgo/petfood/domain/StringArrayConverter.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodRepository.java
  backend/src/main/java/zipgo/petfood/exception/KeywordException.java
  backend/src/main/java/zipgo/petfood/exception/PetFoodException.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/petfood/presentation/dto/GetPetFoodResponse.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
  backend/src/main/java/zipgo/review/domain/Review.java
  backend/src/main/java/zipgo/review/domain/repository/ReviewRepository.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/insert-pet-food.sql
  backend/src/test/java/zipgo/brand/domain/fixture/BrandFixture.java
  backend/src/test/java/zipgo/common/GlobalExceptionHandlerTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodServiceUnitTest.java
  backend/src/test/java/zipgo/petfood/domain/ReviewsTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFixture.java
  backend/src/test/java/zipgo/petfood/domain/repository/PetFoodRepositoryTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/data.sql
  backend/src/test/resources/null-array.sql
  backend/src/test/resources/truncate.sql
Labels: ✨ Feature, 🕋 Backend

#86 feat: 리뷰 생성 기능 구현
  backend/src/main/java/zipgo/member/domain/repository/MemberRepository.java
  backend/src/main/java/zipgo/member/exception/MemberException.java
  backend/src/main/java/zipgo/review/application/ReviewService.java
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
  backend/src/main/java/zipgo/review/domain/Review.java
  backend/src/main/java/zipgo/review/domain/StoolCondition.java
  backend/src/main/java/zipgo/review/domain/TastePreference.java
  backend/src/main/java/zipgo/review/domain/type/StoolCondition.java
  backend/src/main/java/zipgo/review/domain/type/TastePreference.java
  backend/src/main/java/zipgo/review/dto/request/CreateReviewRequest.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsResponse.java
  backend/src/main/java/zipgo/review/exception/StoolConditionException.java
  backend/src/main/java/zipgo/review/exception/TastePreferenceException.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/ServiceTest.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/application/ReviewServiceTest.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#88 feat: 리뷰 수정 기능 구현
  backend/src/main/java/zipgo/auth/exception/AuthException.java
  backend/src/main/java/zipgo/common/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/review/application/ReviewService.java
  backend/src/main/java/zipgo/review/domain/Review.java
  backend/src/main/java/zipgo/review/domain/repository/ReviewRepository.java
  backend/src/main/java/zipgo/review/dto/request/UpdateReviewRequest.java
  backend/src/main/java/zipgo/review/exception/ReviewException.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/review/application/ReviewServiceTest.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/data.sql
Labels: ✨ Feature, 🕋 Backend

#81 feat: 리뷰목록 조회 기능 추가
  frontend/.storybook/preview.tsx
  frontend/src/apis/review.ts
  frontend/src/assets/svg/empty_star_icon.svg
  frontend/src/assets/svg/filled_star_icon.svg
  frontend/src/assets/svg/vertical_dots_icon.svg
  frontend/src/components/@common/Checkbox/Checkbox.stories.tsx
  frontend/src/components/@common/FilterSwitch/FilterSwitch.stories.tsx
  frontend/src/components/@common/FilterSwitch/FilterSwitch.tsx
  frontend/src/components/@common/Footer/Footer.stories.tsx
  frontend/src/components/@common/Header/Header.stories.tsx
  frontend/src/components/@common/StarRating/StarRatingDisplay/StarRatingDisplay.stories.tsx
  frontend/src/components/@common/StarRating/StarRatingDisplay/StartRatingDisplay.tsx
  frontend/src/components/Review/ReviewItem/ReveiwItem.stories.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/constants/review.ts
  frontend/src/hooks/@common/useValidParams.ts
  frontend/src/hooks/query/review.ts
  frontend/src/mocks/fixtures/review.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/review.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/types/review/client.ts
  frontend/src/types/review/remote.ts
Labels: ✨ Feature, 📚 Frontend

#89 feat: 카카오 로그인 기능 구현
  frontend/.eslintrc.js
  frontend/config/webpack.common.js
  frontend/src/App.tsx
  frontend/src/apis/auth.ts
  frontend/src/apis/index.ts
  frontend/src/assets/svg/kakao_symbol.svg
  frontend/src/assets/svg/zipgo_logo_dark.svg
  frontend/src/components/@common/Template.tsx
  frontend/src/hooks/auth.ts
  frontend/src/hooks/common/useValidQueryString.ts
  frontend/src/hooks/query/auth.ts
  frontend/src/index.tsx
  frontend/src/mocks/fixtures/auth.ts
  frontend/src/mocks/handlers/auth.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/router/Router.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/types/auth/client.ts
  frontend/src/types/auth/remote.ts
  frontend/src/types/common/global.d.ts
  frontend/src/types/common/utility.ts
  frontend/src/types/global.d.ts
  frontend/src/utils/getArrayMutationMethod.ts
  frontend/src/utils/getValidQueries.ts
Labels: ✨ Feature, 📚 Frontend

#92 refactor: Checkbox 로직 수정
  frontend/src/components/@common/Checkbox/Checkbox.tsx
  frontend/src/utils/compound.ts
Labels: 🔨 Refactor, 📚 Frontend

#97 hotfix: api 문서 복사 위치 변경
  backend/build.gradle
Labels: 🌍 Infrastructure, 🐞 Bug
