Repository woowacourse-teams/2023-zipgo, pull requests merged in 2023-10, with the labels that each got.

#445 feat: 쿼리 카운터 적용
  backend/src/main/java/zipgo/aspect/ConnectionProxyHandler.java
  backend/src/main/java/zipgo/aspect/QueryCounter.java
  backend/src/main/java/zipgo/aspect/QueryCounterAop.java
  backend/src/main/java/zipgo/common/config/WebConfig.java
  backend/src/main/java/zipgo/common/interceptor/LoggingInterceptor.java
  backend/src/test/java/zipgo/admin/presentation/AdminControllerMockTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/common/acceptance/MockMvcTest.java
  backend/src/test/java/zipgo/image/presentaion/ImageControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#447 feat: refresh token 적용
  backend/src/main/java/zipgo/auth/application/AuthService.java
  backend/src/main/java/zipgo/auth/domain/RefreshToken.java
  backend/src/main/java/zipgo/auth/domain/repository/RefreshTokenRepository.java
  backend/src/main/java/zipgo/auth/dto/AccessTokenResponse.java
  backend/src/main/java/zipgo/auth/dto/LoginResponse.java
  backend/src/main/java/zipgo/auth/dto/TokenDto.java
  backend/src/main/java/zipgo/auth/exception/RefreshTokenNotFoundException.java
  backend/src/main/java/zipgo/auth/presentation/AuthController.java
  backend/src/main/java/zipgo/auth/support/JwtProvider.java
  backend/src/main/java/zipgo/auth/support/RefreshTokenCookieProvider.java
  backend/src/main/java/zipgo/common/config/JwtCredentials.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-local1.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/zipgo/admin/presentation/AdminControllerMockTest.java
  backend/src/test/java/zipgo/auth/application/AuthServiceMockTest.java
  backend/src/test/java/zipgo/auth/application/AuthServiceTest.java
  backend/src/test/java/zipgo/auth/domain/repository/RefreshTokenRepositoryTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/auth/support/JwtProviderTest.java
  backend/src/test/java/zipgo/auth/support/RefreshTokenCookieProviderTest.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/application.yml
Labels: ✨ Feature, 🕋 Backend

#453 feature: 에러 핸들링 고도화
  frontend/config/webpack.common.js
  frontend/src/App.tsx
  frontend/src/apis/index.ts
  frontend/src/assets/svg/home_icon.svg
  frontend/src/assets/svg/refresh_icon.svg
  frontend/src/components/@common/AxiosInterceptors/AxiosInterceptors.tsx
  frontend/src/components/@common/Dialog/Dialog.tsx
  frontend/src/components/@common/ErrorBoundary.tsx
  frontend/src/components/@common/ErrorBoundary/APIBoundary/APIBoundary.tsx
  frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/@common/ErrorBoundary/QueryBoundary/QueryBoundary.tsx
  frontend/src/components/@common/PrefetchImg/PrefetchImg.tsx
  frontend/src/components/@common/QueryBoundary.tsx
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/@common/Tabs/Tabs.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/Food/FoodList/FoodList.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/components/Review/ReviewList/ReviewControls/ReviewControls.tsx
  frontend/src/components/Review/ReviewList/SummaryChart/SummaryChart.tsx
  frontend/src/constants/errors.ts
  frontend/src/constants/time.ts
  frontend/src/context/Toast/ToastContext.tsx
  frontend/src/hooks/@common/useBoolean.ts
  frontend/src/hooks/@common/useErrorBoundary.ts
  frontend/src/hooks/@common/useMutationWithToast.ts
  frontend/src/hooks/query/review.ts
  frontend/src/index.tsx
  frontend/src/mocks/worker.ts
  frontend/src/pages/Error/ErrorPage.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/router/Router.tsx
  frontend/src/router/routes.ts
  frontend/src/types/common/axios.d.ts
  frontend/src/types/common/errorBoundary.ts
  frontend/src/types/common/utility.ts
  frontend/src/utils/compound.ts
  frontend/src/utils/dom.ts
  frontend/src/utils/errors.ts
  frontend/src/utils/isDifferentArray.ts
  frontend/src/utils/setScreenSize.ts
Labels: ✨ Feature, 📚 Frontend

#458 feat: 메인페이지 하단 '사료 선택 도움말 배너' 추가
  frontend/src/assets/svg/close_square_icon_light.svg
  frontend/src/assets/webp/with_pet_icon.webp
  frontend/src/components/FoodSelectionGuideBanner/FoodSelectionGuideBanner.stories.tsx
  frontend/src/components/FoodSelectionGuideBanner/FoodSelectionGuideBanner.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/styles/theme.ts
Labels: ✨ Feature, 📚 Frontend

#464 chore: 스토리북 S3 배포 워크플로우 추가
  .github/workflows/frontend-storybook-deploy.yml
Labels: 🌍 Infrastructure, 📚 Frontend

#466 fix: 스토리북 배포 워크플로우에서 캐시 무효화 로직 삭제 및 mockServiceWorker 경로 수정
  .github/workflows/frontend-storybook-deploy.yml
  frontend/.storybook/preview.tsx
Labels: 🌍 Infrastructure, 🐞 Bug, 📚 Frontend

#468 fix: 스토리북 배포 워크플로우 캐시 경로 수정
  .github/workflows/frontend-storybook-deploy.yml
Labels: 🌍 Infrastructure, 🐞 Bug, 📚 Frontend

#470 chore: 프론트엔드 프로젝트 배포 워크플로우에 캐시적용
  .github/workflows/frontend-deploy-dev.yml
  .github/workflows/frontend-deploy-prod.yml
Labels: 🌍 Infrastructure, 📚 Frontend

#461 feat: 식품 필터 선택 후 선택한 필터 보여주는 기능 추가
  frontend/src/components/@common/Header/UserProfile.tsx
  frontend/src/components/Food/BrandBlock/BrandBlock.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/Food/FilterSelectionDisplay/FilterSelectionDisplay.tsx
  frontend/src/components/Food/FoodList/FoodList.tsx
  frontend/src/components/FoodSelectionGuideBanner/FoodSelectionGuideBanner.tsx
  frontend/src/context/food.tsx
  frontend/src/hooks/food.ts
  frontend/src/hooks/food/useFilterSelectionDisplay.ts
  frontend/src/hooks/food/useFoodListFilter.ts
  frontend/src/hooks/food/useInfiniteFoodListScroll.ts
  frontend/src/types/common/global.d.ts
  frontend/src/utils/getValidQueries.ts
Labels: ✨ Feature, 📚 Frontend

#459 refactor: 펫푸드 테스트코드 리팩터링
  backend/src/test/java/zipgo/ZipgoApplicationTests.java
  backend/src/test/java/zipgo/admin/application/AdminQueryServiceTest.java
  backend/src/test/java/zipgo/admin/presentation/AdminControllerMockMvcTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMvcTest.java
  backend/src/test/java/zipgo/brand/application/BrandQueryServiceTest.java
  backend/src/test/java/zipgo/common/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/common/acceptance/MockMvcTest.java
  backend/src/test/java/zipgo/common/repository/RepositoryTest.java
  backend/src/test/java/zipgo/common/service/QueryServiceTest.java
  backend/src/test/java/zipgo/common/service/ServiceTest.java
  backend/src/test/java/zipgo/image/application/ImageServiceTest.java
  backend/src/test/java/zipgo/image/presentaion/ImageControllerMvcTest.java
  backend/src/test/java/zipgo/member/application/MemberQueryServiceTest.java
  backend/src/test/java/zipgo/pet/application/PetQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/FunctionalityFixture.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFixture.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFunctionalityFixture.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodPrimaryIngredientFixture.java
  backend/src/test/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/presentation/PetFoodControllerTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewQueryRepositoryImplTest.java
Labels: 🔨 Refactor, 🕋 Backend

#475 feat: Datadog Trace 어노테이션 추가
  backend/build.gradle
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryImpl.java
Labels: ✨ Feature

#477 feature: ErrorBoundary 사용 방식 변경 및 간소화
  frontend/.nvmrc
  frontend/.storybook/preview.tsx
  frontend/src/App.tsx
  frontend/src/components/@common/ErrorBoundary/APIBoundary/APIBoundary.tsx
  frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/@common/ErrorBoundary/QueryBoundary/QueryBoundary.tsx
  frontend/src/components/@common/Loading/Loading.tsx
  frontend/src/components/@common/LoadingSpinner/LoadingSpinner.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/components/Review/ReviewList/SummaryChart/SummaryChart.tsx
  frontend/src/types/common/utility.ts
  frontend/src/utils/compound.ts
  frontend/src/utils/errors.ts
Labels: ✨ Feature, 🔨 Refactor, 📚 Frontend

#482 feat: 같은 플로우 안의 여러 페이지를 관리하기 위한 퍼널 추상화 및 적용
  frontend/src/components/@common/Funnel/Funnel.tsx
  frontend/src/components/@common/Template.tsx
  frontend/src/components/PetProfile/PetAgeSelect.tsx
  frontend/src/components/PetProfile/PetBreedSelect.tsx
  frontend/src/components/PetProfile/PetProfileEditionForm/PetProfileEditionForm.tsx
  frontend/src/components/PetProfile/PetProfileImageUploader.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.stories.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/constants/common.ts
  frontend/src/constants/petProfile.ts
  frontend/src/constants/review.ts
  frontend/src/context/petProfile/PetAdditionContext.tsx
  frontend/src/hooks/@common/useEasyNavigate.ts
  frontend/src/hooks/@common/useFunnel.tsx
  frontend/src/hooks/petProfile/usePetProfileAddition.ts
  frontend/src/hooks/petProfile/usePetProfileStep.ts
  frontend/src/hooks/review/useReviewForm.ts
  frontend/src/hooks/review/useReviewStarRating.ts
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileAdditionFormFunnel.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileAgeAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileBreedAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileGenderAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileImageAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileNameAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfilePetSizeAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileWeightAddition.tsx
  frontend/src/pages/PetProfile/PetProfileEdition/PetProfileEdition.tsx
  frontend/src/pages/Review/ReviewAddition.tsx
  frontend/src/pages/Review/ReviewFormFunnel.tsx
  frontend/src/pages/Review/ReviewStarRating.tsx
  frontend/src/router/Router.tsx
  frontend/src/router/routes.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/types/common/utility.ts
  frontend/src/types/petProfile/client.ts
Labels: ✨ Feature, 📚 Frontend

#486 refactor: '사료 선택 도움말 배너'를 닫으면 리액트 내부 페이지 이동 시 안 보이도록 수정
  frontend/src/components/FoodSelectionGuideBanner/FoodSelectionGuideBanner.tsx
  frontend/src/components/PetProfile/PetProfileEditionForm/PetProfileEditionForm.stories.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.stories.tsx
  frontend/src/hooks/food/useFoodSelectionGuideBanner.ts
Labels: 🔨 Refactor, 📚 Frontend

#488 refactor: UI/UX 개선
  frontend/.pnp.cjs
  frontend/.stylelintrc.js
  frontend/.yarn/cache/@tanstack-match-sorter-utils-npm-8.8.4-488b98c113-d005f50075.zip
  frontend/.yarn/cache/@tanstack-react-query-devtools-npm-4.36.1-8448e7912a-d4f7da4121.zip
  frontend/.yarn/cache/copy-anything-npm-3.0.5-562d15fb3f-d39f6601c1.zip
  frontend/.yarn/cache/is-what-npm-4.1.15-328677a458-fe27f6cd4a.zip
  frontend/.yarn/cache/remove-accents-npm-0.4.2-7cb341092a-84a6988555.zip
  frontend/.yarn/cache/superjson-npm-1.13.3-25a5e9e483-f5aeb010f2.zip
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  frontend/src/components/@common/StarRating/StarRatingDisplay/StartRatingDisplay.tsx
  frontend/src/components/@common/SuspendedImg/SuspendedImg.tsx
  frontend/src/components/@common/Template.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/Food/FilterBottomSheet/MainIngredientsFilterList/MainIngredientsFilterList.tsx
  frontend/src/components/Food/FilterBottomSheet/NutritionStandardsFilterList/NutritionStandardsFilterList.tsx
  frontend/src/components/Food/FoodItem/FoodItem.tsx
  frontend/src/components/Food/FoodList/FoodList.tsx
  frontend/src/components/Food/NutritionStandardBlock/NutritionStandardBlock.stories.tsx
  frontend/src/components/Food/NutritionStandardBlock/NutritionStandardBlock.tsx
  frontend/src/components/FoodSelectionGuideBanner/FoodSelectionGuideBanner.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewControls/AlignSelect/AlignSelect.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewControls/AlignSelect/AlignSelect.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewControls/FilterDialog/FilterDialog.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewControls/ReviewControls.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewList/ReviewList.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewListAndChart.tsx
  frontend/src/components/Review/ReviewListAndChart/SummaryChart/SummaryChart.tsx
  frontend/src/constants/review.ts
  frontend/src/hooks/food/useFoodListFilter.ts
  frontend/src/hooks/food/useInfiniteFoodListScroll.ts
  frontend/src/hooks/query/food.ts
  frontend/src/hooks/query/review.ts
  frontend/src/hooks/review/useReviewFilterList.ts
  frontend/src/mocks/fixtures/food.ts
  frontend/src/pages/FoodDetail/FoodDetail.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/types/common/utility.ts
  frontend/src/types/food/client.ts
  frontend/src/types/review/client.ts
  frontend/src/types/review/remote.ts
  frontend/yarn.lock
Labels: ✨ Feature, 🔨 Refactor, 📚 Frontend

#471 refactor: OAuth API 호출을 트랜잭션 범위에서 분리
  backend/src/main/java/zipgo/auth/application/AuthService.java
  backend/src/main/java/zipgo/auth/application/AuthServiceFacade.java
  backend/src/main/java/zipgo/auth/presentation/AuthController.java
  backend/src/test/java/zipgo/auth/application/AuthServiceFacadeTest.java
  backend/src/test/java/zipgo/auth/application/AuthServiceMockTest.java
  backend/src/test/java/zipgo/auth/application/AuthServiceTest.java
  backend/src/test/java/zipgo/auth/application/fixture/MemberResponseSuccessFixture.java
  backend/src/test/java/zipgo/auth/infra/kakao/KakaoOAuthClientTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/common/acceptance/MockMvcTest.java
Labels: 🔨 Refactor, 🕋 Backend

#492 feat: 모바일 디바이스(ios)에서 <input>, <textarea> 포커스 시 자동 zoom-in되는 현상 개선
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/Food/FilterBottomSheet/MainIngredientsFilterList/MainIngredientsFilterList.tsx
  frontend/src/components/PetProfile/PetAgeSelect.tsx
  frontend/src/components/PetProfile/PetBreedSelect.tsx
  frontend/src/components/PetProfile/PetProfileEditionForm/PetProfileEditionForm.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewControls/AlignSelect/AlignSelect.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewControls/FilterDialog/FilterDialog.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileNameAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileWeightAddition.tsx
  frontend/src/styles/globalStyle.ts
Labels: ✨ Feature, 📚 Frontend

#494 feat: 데스크탑 뷰 전역 레이아웃 구현
  frontend/.pnp.cjs
  frontend/.yarn/cache/postcss-npm-8.4.31-385051a82b-1d8611341b.zip
  frontend/.yarn/cache/styled-components-npm-6.1.0-309a24863e-989262a2be.zip
  frontend/.yarn/cache/zipgo-layout-npm-0.3.0-7cfca6820b-dc91581cd7.zip
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/svg/background_img.svg
  frontend/src/assets/svg/zipgo_text_logo.svg
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Dialog/Dialog.tsx
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/LoadingSpinner/LoadingSpinner.tsx
  frontend/src/components/@common/MobileToDesktop/MobileToDesktop.tsx
  frontend/src/components/@common/PageHeader/PageHeader.tsx
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/@common/Template.tsx
  frontend/src/components/@common/ToolTip/ToolTip.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/FoodSelectionGuideBanner/FoodSelectionGuideBanner.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/context/Toast/ToastContext.tsx
  frontend/src/hooks/@common/useCurrentScroll.ts
  frontend/src/hooks/@common/useDesktopView.ts
  frontend/src/pages/Error/ErrorPage.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Review/ReviewAddition.tsx
  frontend/src/pages/Review/ReviewStarRating.tsx
  frontend/src/styles/theme.ts
  frontend/yarn.lock
Labels: ✨ Feature, 📚 Frontend

#501 fix: 데스크탑 뷰 전환 후 UI 깨짐 해결
  frontend/.pnp.cjs
  frontend/.yarn/cache/zipgo-layout-npm-0.3.0-7cfca6820b-dc91581cd7.zip
  frontend/.yarn/cache/zipgo-layout-npm-0.4.0-bfdb260d66-0a6852d018.zip
  frontend/package.json
  frontend/src/components/@common/MobileToDesktop/MobileToDesktop.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/components/PetProfile/PetProfileEditionForm/PetProfileEditionForm.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewList/ReviewList.tsx
  frontend/src/pages/FoodDetail/FoodDetail.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileImageAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAddition/PetProfileNameAddition.tsx
  frontend/src/pages/Review/ReviewAddition.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/yarn.lock
Labels: 🔨 Refactor, 📚 Frontend

#505 docs: README 업데이트
  README.md
Labels: 🧚🏻‍♀️ Support

#506 refactor: 리프레시 쿠키 > JWT 변경 및 버그 + 개선 사항 반영
  frontend/src/apis/auth.ts
  frontend/src/apis/index.ts
  frontend/src/components/@common/Template.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/Review/ReviewForm/FoodInfoInReviewForm/FoodInfoInReviewForm.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewControls/FilterDialog/FilterDialog.tsx
  frontend/src/hooks/query/auth.ts
  frontend/src/hooks/query/review.ts
  frontend/src/hooks/review/useReviewForm.ts
  frontend/src/mocks/fixtures/auth.ts
  frontend/src/pages/FoodDetail/FoodDetail.tsx
  frontend/src/pages/Review/ReviewFormFunnel.tsx
  frontend/src/types/auth/client.ts
  frontend/src/types/auth/remote.ts
  frontend/src/types/review/remote.ts
Labels: ✨ Feature, 🔨 Refactor, 📚 Frontend

#513 fix: UI 깨짐, 스켈레톤 UI 수정
  frontend/src/components/Food/FoodList/FoodList.tsx
  frontend/src/components/Review/ReviewListAndChart/SummaryChart/SummaryChart.tsx
  frontend/src/hooks/query/food.ts
  frontend/src/pages/FoodDetail/FoodDetail.tsx
  frontend/src/pages/Landing/Landing.tsx
Labels: 🐞 Bug, 🔨 Refactor, 📚 Frontend

#512 fix: 0살이면 1살 미만으로 뜨도록 수정, 리뷰 더보기 클릭이 안되는 문제 해결
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewList/ReviewList.tsx
  frontend/src/pages/FoodDetail/FoodDetail.tsx
Labels: 🐞 Bug

#514 hotfix: 리뷰, 펫 프로필 업데이트에 따라 상태 동기화
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/constants/time.ts
  frontend/src/hooks/petProfile/usePetProfileEdition.ts
  frontend/src/hooks/query/food.ts
  frontend/src/hooks/query/petProfile.ts
  frontend/src/hooks/query/review.ts
Labels: 🐞 Bug, 📚 Frontend

#518 feat: 강아지 깨우기 이스터에그 추가
  frontend/src/pages/Landing/Landing.tsx
Labels: ✨ Feature, 📚 Frontend

#520 fix: 리뷰요약 동기화 안되는 문제 해결
  frontend/src/hooks/query/review.ts
Labels: 🐞 Bug, 📚 Frontend

#522 feat: 강아지 깨웠을 때 배너이미지 변경
  frontend/src/assets/webp/landing_banner_awake.webp
  frontend/src/pages/Landing/Landing.tsx
Labels: ✨ Feature, 📚 Frontend

#527 refactor: 이스터에그 토스트 사용성 개선 및 hook 디렉토리 이동
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/PetProfile/PetInfoInForm.tsx
  frontend/src/components/PetProfile/PetProfileImageUploader.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewControls/AlignSelect/AlignSelect.tsx
  frontend/src/components/Review/ReviewListAndChart/ReviewList/ReviewList.tsx
  frontend/src/context/Toast/ToastContext.tsx
  frontend/src/hooks/@common/useEasterEgg.ts
  frontend/src/hooks/@common/useImageUpload.ts
  frontend/src/hooks/@common/useValidQueryString.ts
  frontend/src/hooks/food/useFilterSelectionDisplay.ts
  frontend/src/hooks/food/useInfiniteFoodListScroll.ts
  frontend/src/hooks/review/useCustomReview.ts
  frontend/src/hooks/review/useReviewFilterList.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/Login/Login.tsx
Labels: 🔨 Refactor, 📚 Frontend

#529 refactor: 식품 이미지 미처 적용 안됐던 lazy loading 적용
  frontend/src/components/@common/LazyImage/LazyImage.tsx
  frontend/src/components/@common/LazyImg/LazyImg.tsx
  frontend/src/components/@common/SuspendedImg/SuspendedImg.tsx
  frontend/src/components/Food/FoodItem/FoodItem.tsx
  frontend/src/hooks/@common/useIntersectionObserver.ts
Labels: 🔨 Refactor, 📚 Frontend
