Repository woowacourse-teams/2023-zipgo, pull requests merged in 2023-08, with the labels that each got.

#90 feat: 리뷰 삭제 기능 구현
  backend/src/main/java/zipgo/review/application/ReviewService.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/review/application/ReviewServiceTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#87 feat: 카카오 소셜 로그인 구현
  backend/build.gradle
  backend/src/main/java/zipgo/ZipgoApplication.java
  backend/src/main/java/zipgo/auth/application/AuthService.java
  backend/src/main/java/zipgo/auth/application/KakaoOAuthClient.java
  backend/src/main/java/zipgo/auth/application/OAuthClient.java
  backend/src/main/java/zipgo/auth/application/dto/KakaoMemberResponse.java
  backend/src/main/java/zipgo/auth/application/dto/KakaoTokenResponse.java
  backend/src/main/java/zipgo/auth/application/dto/OAuthMemberResponse.java
  backend/src/main/java/zipgo/auth/exception/AuthException.java
  backend/src/main/java/zipgo/auth/presentation/Auth.java
  backend/src/main/java/zipgo/auth/presentation/AuthController.java
  backend/src/main/java/zipgo/auth/presentation/AuthInterceptor.java
  backend/src/main/java/zipgo/auth/presentation/BearerTokenExtractor.java
  backend/src/main/java/zipgo/auth/presentation/JwtArgumentResolver.java
  backend/src/main/java/zipgo/auth/presentation/dto/AuthDto.java
  backend/src/main/java/zipgo/auth/presentation/dto/AuthResponse.java
  backend/src/main/java/zipgo/auth/presentation/dto/TokenResponse.java
  backend/src/main/java/zipgo/auth/util/JwtProvider.java
  backend/src/main/java/zipgo/common/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/common/config/AppConfig.java
  backend/src/main/java/zipgo/common/config/JwtCredentials.java
  backend/src/main/java/zipgo/common/config/WebConfig.java
  backend/src/main/java/zipgo/member/application/MemberQueryService.java
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/member/domain/repository/MemberRepository.java
  backend/src/main/java/zipgo/member/exception/MemberException.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/zipgo/QueryServiceTest.java
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/auth/application/AuthServiceTest.java
  backend/src/test/java/zipgo/auth/application/KakaoOAuthClientTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/auth/presentation/BearerTokenExtractorTest.java
  backend/src/test/java/zipgo/auth/util/JwtProviderTest.java
  backend/src/test/java/zipgo/common/GlobalExceptionHandlerTest.java
  backend/src/test/java/zipgo/member/application/MemberQueryServiceTest.java
  backend/src/test/java/zipgo/member/domain/fixture/MemberFixture.java
  backend/src/test/java/zipgo/member/domain/repository/MemberRepositoryTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodServiceUnitTest.java
  backend/src/test/java/zipgo/petfood/domain/KeywordTest.java
  backend/src/test/java/zipgo/petfood/domain/PetFoodTest.java
  backend/src/test/java/zipgo/petfood/domain/ReviewsTest.java
  backend/src/test/java/zipgo/petfood/domain/repository/KeywordRepositoryTest.java
  backend/src/test/java/zipgo/petfood/domain/repository/PetFoodRepositoryTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/application.yml
Labels: ✨ Feature, 🕋 Backend

#107 hotfix: osiv를 true로 변경
  backend/src/main/resources/application-prod.yml
Labels: 🐞 Bug

#109 feat: 상세정보 응답에 브랜드 이미지경로 추가
  backend/http/get-pet-food.http
  backend/src/main/java/zipgo/brand/domain/Brand.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/presentation/dto/GetPetFoodResponse.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/resources/data.sql
Labels: ✨ Feature, 🕋 Backend

#105 refactor: 리뷰 리팩토링
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
  backend/src/main/java/zipgo/review/domain/Review.java
  backend/src/main/java/zipgo/review/domain/type/AdverseReactionType.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodServiceTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/application/ReviewServiceTest.java
  backend/src/test/java/zipgo/review/fixture/AdverseReactionFixture.java
  backend/src/test/java/zipgo/review/fixture/MemberFixture.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/data.sql
Labels: 🔨 Refactor, 🕋 Backend

#96 feat: 라벨 컴포넌트 구현
  frontend/.eslintrc.js
  frontend/src/assets/svg/back_btn.svg
  frontend/src/components/@common/Label/Label.stories.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/types/common/utility.ts
Labels: ✨ Feature, 📚 Frontend

#102 support: 배포스크립트 Profiles 변경
  backend/deploy.sh
  backend/src/main/resources/application-dev.yml
Labels: 🌍 Infrastructure, 🕋 Backend

#111 feat: NavigationBar 컴포넌트 구현
  frontend/.eslintrc.js
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/@common/NavigationBar/NavigationBar.stories.tsx
  frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/types/common/utility.ts
Labels: ✨ Feature, 📚 Frontend

#119 feat: 리뷰 개별 조회 기능 구현
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#121 feat: 식품 필터링 정보 메타데이터 조회
  backend/http/body.json
  backend/http/get-filter-metadata.http
  backend/http/get-pet-foods.http
  backend/src/main/java/zipgo/auth/application/AuthService.java
  backend/src/main/java/zipgo/auth/application/KakaoOAuthClient.java
  backend/src/main/java/zipgo/auth/presentation/AuthController.java
  backend/src/main/java/zipgo/auth/presentation/BearerTokenExtractor.java
  backend/src/main/java/zipgo/auth/presentation/JwtArgumentResolver.java
  backend/src/main/java/zipgo/auth/util/JwtProvider.java
  backend/src/main/java/zipgo/brand/domain/Brand.java
  backend/src/main/java/zipgo/common/config/WebConfig.java
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/member/domain/repository/MemberRepository.java
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodRepository.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/petfood/presentation/dto/FilterMetadataResponse.java
  backend/src/main/java/zipgo/petfood/presentation/dto/FilterResponse.java
  backend/src/main/java/zipgo/petfood/presentation/dto/PetFoodResponse.java
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
  backend/src/main/java/zipgo/review/domain/type/AdverseReactionType.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/acceptance/AcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/auth/application/AuthServiceTest.java
  backend/src/test/java/zipgo/auth/application/KakaoOAuthClientTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/auth/presentation/BearerTokenExtractorTest.java
  backend/src/test/java/zipgo/auth/util/JwtProviderTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceUnitTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodServiceUnitTest.java
  backend/src/test/java/zipgo/petfood/domain/KeywordTest.java
  backend/src/test/java/zipgo/petfood/domain/PetFoodTest.java
  backend/src/test/java/zipgo/petfood/domain/ReviewsTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFixture.java
  backend/src/test/java/zipgo/petfood/domain/repository/KeywordRepositoryTest.java
  backend/src/test/java/zipgo/petfood/domain/repository/PetFoodRepositoryTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/fixture/AdverseReactionFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature

#127 refactor: 식품 필터링 조회 API 스펙 수정
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/acceptance/insert-pet-food.sql
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceUnitTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFixture.java
  backend/src/test/resources/data.sql
Labels: 🔨 Refactor, 🕋 Backend

#129 refactor: API 스펙 수정
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
Labels: 🔨 Refactor

#123 refactor: NavBar 누락된 index 바뀔 때의 이벤트 prop 추가
  frontend/src/components/@common/NavigationBar/NavigationBar.tsx
Labels: ✨ Feature, 🐞 Bug, 📚 Frontend

#135 refactor: 프로퍼티명 변경
  backend/src/main/java/zipgo/petfood/presentation/dto/FilterMetadataResponse.java
Labels: 🔨 Refactor, 🕋 Backend

#134 refactor: 테스트코드 개선
  backend/src/test/java/zipgo/auth/application/AuthServiceTest.java
  backend/src/test/java/zipgo/auth/application/KakaoOAuthClientTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
Labels: 🔨 Refactor, 🕋 Backend

#136 refactor: review 전체 조회 dto로 한번 더 포장
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewResponse.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: 🔨 Refactor, 🕋 Backend

#143 feature: 식품 필터 바텀시트 구현
  frontend/.env.development
  frontend/.eslintrc.js
  frontend/.stylelintrc.js
  frontend/src/apis/food.ts
  frontend/src/assets/svg/settings_outline_icon.svg
  frontend/src/components/@common/Checkbox/Checkbox.tsx
  frontend/src/components/@common/Dialog/Dialog.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/QueryBoundary.tsx
  frontend/src/components/@common/Tabs/Tabs.tsx
  frontend/src/components/@common/Template.tsx
  frontend/src/components/Food/FilterBottomSheet/BrandFilterList/BrandFilterList.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/Food/FilterBottomSheet/FunctionalityFilterList/FunctionalityFilterList.tsx
  frontend/src/components/Food/FilterBottomSheet/MainIngredientsFilterList/MainIngredientsFilterList.tsx
  frontend/src/components/Food/FilterBottomSheet/NutritionStandardsFilterList/NutritionStandardsFilterList.tsx
  frontend/src/components/Food/FoodItem/FoodItem.tsx
  frontend/src/components/Food/FoodList/FoodList.tsx
  frontend/src/components/Food/FoodProfile/FoodProfile.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/constants/food.ts
  frontend/src/context/Dialog/DialogContext.tsx
  frontend/src/context/Tabs/TabsContext.tsx
  frontend/src/context/food.tsx
  frontend/src/hooks/@common/useBoolean.ts
  frontend/src/hooks/@common/useContextInScope.ts
  frontend/src/hooks/@common/usePageTitle.ts
  frontend/src/hooks/food.ts
  frontend/src/hooks/query/food.ts
  frontend/src/mocks/fixtures/food.ts
  frontend/src/mocks/handlers/food.ts
  frontend/src/pages/FoodDetail/FoodDetail.tsx
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/theme.ts
  frontend/src/types/common/global.d.ts
  frontend/src/types/food/client.ts
  frontend/src/types/food/remote.ts
  frontend/src/utils/compound.ts
  frontend/src/utils/dom.ts
  frontend/src/utils/food.ts
Labels: ✨ Feature, 📚 Frontend

#144 feature: 소셜 로그인 연동 플로우 변경
  frontend/.env.development
  frontend/.env.local
  frontend/.env.production
  frontend/src/apis/auth.ts
  frontend/src/constants/auth.ts
  frontend/src/hooks/auth.ts
  frontend/src/hooks/query/auth.ts
  frontend/src/mocks/fixtures/auth.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/types/auth/remote.ts
Labels: ✨ Feature, 📚 Frontend

#146 feature: 헤더 로그인 정보 추가
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/pages/Login/Login.tsx
Labels: ✨ Feature, 📚 Frontend

#149 fix: nginx 라우팅 되도록 설정 변경
  frontend/conf/conf.d/default.conf
Labels: 🐞 Bug, 📚 Frontend

#150 refactor: 3차 데모 QA - 1
  frontend/.env.production
  frontend/src/components/@common/Dialog/Dialog.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/Food/FilterBottomSheet/BrandFilterList/BrandFilterList.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/Food/FilterBottomSheet/FunctionalityFilterList/FunctionalityFilterList.tsx
  frontend/src/components/Food/FilterBottomSheet/MainIngredientsFilterList/MainIngredientsFilterList.tsx
  frontend/src/components/Food/FilterBottomSheet/NutritionStandardsFilterList/NutritionStandardsFilterList.tsx
  frontend/src/components/Food/FoodProfile/FoodProfile.tsx
  frontend/src/mocks/fixtures/food.ts
  frontend/src/pages/FoodDetail/FoodDetail.tsx
  frontend/src/types/food/client.ts
Labels: ✨ Feature, 🔨 Refactor, 📚 Frontend

#153 fix: 3차 데모 QA2
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/hooks/query/auth.ts
Labels: 🐞 Bug, 📚 Frontend

#160 fix: 최초 로그인 시 토큰에 null 들어가는 문제 해결
  frontend/src/hooks/query/auth.ts
Labels: 🐞 Bug, 📚 Frontend

#200 refactor: 식품에 따른 review 조회 N+1 문제 해결
  backend/src/main/java/zipgo/review/domain/repository/ReviewRepository.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/fixture/ReviewFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/data.sql
Labels: 🔨 Refactor, 🕋 Backend

#141 refactor: 멤버 도메인 제약 조건 추가
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/test/java/zipgo/review/fixture/MemberFixture.java
  backend/src/test/resources/data.sql
Labels: 🔨 Refactor, 🕋 Backend

#202 refactor: comment validation 추가
  backend/src/main/java/zipgo/review/dto/request/CreateReviewRequest.java
  backend/src/main/java/zipgo/review/dto/request/UpdateReviewRequest.java
Labels: 🐞 Bug, 🕋 Backend

#163 feature: api 라이프 사이클에 인증 로직 추가
  frontend/src/App.tsx
  frontend/src/components/@common/AxiosInterceptors/AxiosInterceptors.tsx
  frontend/src/hooks/auth.ts
  frontend/src/hooks/query/auth.ts
Labels: ✨ Feature, 📚 Frontend

#213 feature: 스토리북 배포 설정
  frontend/Dockerfile
  frontend/conf/conf.d/default.conf
Labels: 🌍 Infrastructure, 📚 Frontend

#215 feat: 프로덕션 환경 분리 위한 설정파일 및 스크립트 분리
  backend/deploy-dev.sh
  backend/deploy-prod.sh
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: 🌍 Infrastructure, 🕋 Backend

#214 feat: 식품 리스트 조회 페이징 추가
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/application/dto/FilterDto.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/petfood/presentation/dto/GetPetFoodResponse.java
  backend/src/main/java/zipgo/petfood/presentation/dto/GetPetFoodsResponse.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFixture.java
  backend/src/test/java/zipgo/petfood/domain/repository/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/infra/persist/PetFoodRepositoryImplTest.java
Labels: ✨ Feature, 🕋 Backend

#204 feature: 라우팅 경로 추상화
  frontend/src/apis/food.ts
  frontend/src/components/@common/PageHeader/PageHeader.tsx
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/context/food.tsx
  frontend/src/hooks/common/useValidQueryString.ts
  frontend/src/hooks/food.ts
  frontend/src/hooks/query/auth.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/ReviewAddition/ReviewAddition.tsx
  frontend/src/pages/ReviewStarRating/ReviewStarRating.tsx
  frontend/src/router/Router.tsx
  frontend/src/router/routes.ts
  frontend/src/types/common/routes.ts
  frontend/src/types/common/utility.ts
  frontend/src/types/food/remote.ts
  frontend/src/utils/getValidQueries.ts
Labels: ✨ Feature, 📚 Frontend

#221 feat: 필터링 메타데이터 조회 기능
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/domain/repository/FunctionalityRepository.java
  backend/src/main/java/zipgo/petfood/domain/repository/PrimaryIngredientRepository.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/test/java/zipgo/acceptance/PetFoodAcceptanceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
Labels: ✨ Feature

#225 refactor: size default 값 지정
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
Labels: 🔨 Refactor, 🕋 Backend

#230 hotfix: 메타데이터 정보에 id 추가
  backend/src/main/java/zipgo/ZipgoApplication.java
  backend/src/main/java/zipgo/auth/infra/kakao/KakaoOAuthClient.java
  backend/src/main/java/zipgo/auth/presentation/dto/AuthDto.java
  backend/src/main/java/zipgo/auth/presentation/dto/TokenResponse.java
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/domain/repository/FunctionalityRepository.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/domain/repository/PrimaryIngredientRepository.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/petfood/presentation/dto/FilterResponse.java
  backend/src/test/java/zipgo/auth/application/AuthServiceTest.java
  backend/src/test/java/zipgo/auth/infra/kakao/KakaoOAuthClientTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/domain/repository/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/infra/persist/PetFoodRepositoryImplTest.java
Labels: 🐞 Bug, 🕋 Backend

#224 refactor: 엔티티 created_at, modified_at 필드 추가
  backend/src/main/java/zipgo/ZipgoApplication.java
  backend/src/main/java/zipgo/brand/domain/Brand.java
  backend/src/main/java/zipgo/common/config/JpaConfig.java
  backend/src/main/java/zipgo/common/entity/BaseTimeEntity.java
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/petfood/domain/Functionality.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/domain/PrimaryIngredient.java
  backend/src/main/java/zipgo/petfood/domain/Reviews.java
  backend/src/main/java/zipgo/review/domain/AdverseReaction.java
Labels: 🔨 Refactor, 🕋 Backend

#227 hotfix: 배포스크립트 수정
  backend/deploy-dev.sh
  backend/deploy-prod.sh
Labels: 🌍 Infrastructure, 🐞 Bug, 🕋 Backend

#232 fix: totalCount 곱연산 되고 있는거 수정
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
Labels: 🐞 Bug, 🕋 Backend

#219 feat: 리뷰 페이지네이션
  backend/src/main/java/zipgo/common/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/application/dto/GetReviewQueryRequest.java
  backend/src/main/java/zipgo/review/domain/repository/ReviewQueryRepository.java
  backend/src/main/java/zipgo/review/domain/repository/ReviewQueryRepositoryImpl.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/common/GlobalExceptionHandlerTest.java
  backend/src/test/java/zipgo/common/config/QueryDslTestConfig.java
  backend/src/test/java/zipgo/member/domain/fixture/MemberFixture.java
  backend/src/test/java/zipgo/review/application/ReviewsQueryServiceTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewQueryRepositoryImplTest.java
  backend/src/test/java/zipgo/review/fixture/MemberFixture.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/insert-empty-functionality.sql
  backend/src/test/resources/null-array.sql
Labels: ✨ Feature

#171 refactor: 리뷰 기능 관련 코드 개선
  frontend/.pnp.cjs
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/.yarn/cache/@remix-run-router-npm-1.7.2-f063ddbaf6-ea43bb662f.zip
  frontend/.yarn/cache/compare-versions-npm-6.0.0-f6c7b2d14e-bf2fa355b2.zip
  frontend/.yarn/cache/msw-storybook-addon-npm-1.8.0-62c7737ede-14d7ab064f.zip
  frontend/.yarn/cache/react-router-npm-6.14.2-b2944a374e-7507bf5732.zip
  frontend/.yarn/cache/storybook-addon-react-router-v6-npm-2.0.2-5ce5d5b0a4-6b0cd38c54.zip
  frontend/package.json
  frontend/src/apis/review.ts
  frontend/src/components/Review/ReviewForm/FoodInfoInReviewForm/FoodInfoInReviewForm.stories.tsx
  frontend/src/components/Review/ReviewForm/FoodInfoInReviewForm/FoodInfoInReviewForm.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/components/Review/ReviewItem/ReveiwItem.stories.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/hooks/query/review.ts
  frontend/src/hooks/review/useReviewForm.ts
  frontend/src/hooks/review/useReviewStarRating.ts
  frontend/src/mocks/fixtures/food.ts
  frontend/src/mocks/handlers/review.ts
  frontend/src/pages/ReviewAddition/ReviewAddition.tsx
  frontend/src/pages/ReviewStarRating/ReviewStarRating.tsx
  frontend/src/router/routes.ts
  frontend/src/types/review/remote.ts
  frontend/yarn.lock
Labels: 🔨 Refactor, 📚 Frontend

#228 feat: 무한스크롤 적용
  frontend/src/components/Food/FilterBottomSheet/FilterBottomSheet.tsx
  frontend/src/hooks/food.ts
  frontend/src/hooks/query/food.ts
  frontend/src/mocks/fixtures/food.ts
  frontend/src/mocks/handlers/food.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/types/food/client.ts
  frontend/src/types/food/remote.ts
Labels: ✨ Feature, 📚 Frontend

#220 feat: 반려동물 도메인 모델 작성
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/pet/domain/AgeGroup.java
  backend/src/main/java/zipgo/pet/domain/Breeds.java
  backend/src/main/java/zipgo/pet/domain/Gender.java
  backend/src/main/java/zipgo/pet/domain/Pet.java
  backend/src/main/java/zipgo/pet/domain/PetSize.java
  backend/src/main/java/zipgo/pet/exception/PetException.java
  backend/src/test/java/zipgo/pet/domain/AgeGroupTest.java
Labels: ✨ Feature, 🕋 Backend

#241 fix: 로그인 인증 토큰 저장 안되는 문제 해결
  frontend/src/components/Review/ReviewForm/FoodInfoInReviewForm/FoodInfoInReviewForm.stories.tsx
  frontend/src/hooks/query/auth.ts
Labels: 🐞 Bug, 📚 Frontend

#247 chore: 로깅 설정 및 의존성, yml 추가
  backend/build.gradle
  backend/src/main/java/zipgo/common/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/common/logging/LoggingUtils.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-spring.xml
Labels: 🌍 Infrastructure, 🕋 Backend, ⚙️ Setting

#248 chore: port 제거
  backend/src/main/resources/application.yml
Labels: 🌍 Infrastructure, 🕋 Backend, ⚙️ Setting

#235 refactor: 기능성, 주원료 연관관계 변경
  backend/src/main/java/zipgo/petfood/application/PetFoodQueryService.java
  backend/src/main/java/zipgo/petfood/domain/Functionality.java
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/domain/PetFoodFunctionality.java
  backend/src/main/java/zipgo/petfood/domain/PetFoodPrimaryIngredient.java
  backend/src/main/java/zipgo/petfood/domain/PrimaryIngredient.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/presentation/PetFoodController.java
  backend/src/main/java/zipgo/petfood/presentation/dto/FilterRequest.java
  backend/src/main/java/zipgo/petfood/presentation/dto/GetPetFoodResponse.java
  backend/src/test/java/zipgo/common/config/QueryDslTestConfig.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceTest.java
  backend/src/test/java/zipgo/petfood/application/PetFoodQueryServiceUnitTest.java
  backend/src/test/java/zipgo/petfood/domain/fixture/FunctionalityFixture.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodFunctionalityFixture.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PetFoodIngredientFixture.java
  backend/src/test/java/zipgo/petfood/domain/fixture/PrimaryIngredientFixture.java
  backend/src/test/java/zipgo/petfood/domain/repository/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/presentation/PetFoodControllerTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewQueryRepositoryImplTest.java
  backend/src/test/resources/application.yml
Labels: 🔨 Refactor, 🕋 Backend

#243 fix: reviewId가 0보다 클 경우에만 리뷰아이템조회 쿼리 실행하도록 수정
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/hooks/query/review.ts
Labels: 🐞 Bug, 📚 Frontend

#250 feat: 리뷰 메타데이터 조회 기능
  backend/http/get-review-metadata.http
  backend/src/main/java/zipgo/pet/domain/AgeGroup.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/application/SortBy.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewMetadataResponse.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#257 feat: 반려동물 정보 등록 API 기능
  backend/build.gradle
  backend/src/main/java/zipgo/ZipgoApplication.java
  backend/src/main/java/zipgo/common/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/common/config/AdditionalConfiguration.java
  backend/src/main/java/zipgo/common/config/AwsS3Credentials.java
  backend/src/main/java/zipgo/common/config/S3Config.java
  backend/src/main/java/zipgo/image/application/ImageService.java
  backend/src/main/java/zipgo/image/infrastructure/aws/s3/S3PetImageClient.java
  backend/src/main/java/zipgo/image/infrastructure/aws/s3/S3Uploader.java
  backend/src/main/java/zipgo/image/presentaion/ImageController.java
  backend/src/main/java/zipgo/image/presentaion/dto/ImageResponse.java
  backend/src/main/java/zipgo/member/domain/repository/MemberRepository.java
  backend/src/main/java/zipgo/pet/application/ImageClient.java
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/domain/AgeGroup.java
  backend/src/main/java/zipgo/pet/domain/Gender.java
  backend/src/main/java/zipgo/pet/domain/repository/BreedsRepository.java
  backend/src/main/java/zipgo/pet/domain/repository/PetSizeRepository.java
  backend/src/main/java/zipgo/pet/exception/PetException.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/pet/presentation/dto/request/CreatePetRequest.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/image/application/ImageServiceTest.java
  backend/src/test/java/zipgo/image/presentaion/ImageControllerTest.java
  backend/src/test/java/zipgo/pet/application/PetServiceTest.java
  backend/src/test/java/zipgo/pet/domain/AgeGroupTest.java
  backend/src/test/java/zipgo/pet/domain/GenderTest.java
  backend/src/test/java/zipgo/pet/domain/fixture/BreedsFixture.java
  backend/src/test/java/zipgo/pet/domain/fixture/PetSizeFixture.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
  backend/src/test/resources/application.yml
Labels: ✨ Feature, 🕋 Backend

#263 chore: .gitignore 파일 내 로그 디렉토리 추가
  backend/.gitignore
Labels: 🕋 Backend, ⚙️ Setting

#269 chore: appender 분리 및 쿼리 로그 추가
  backend/build.gradle
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/error-appender.xml
  backend/src/main/resources/info-appender.xml
  backend/src/main/resources/log4jdbc-log4j2.yml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/warn-appender.xml
Labels: 🕋 Backend, ⚙️ Setting

#271 fix: 데이터 중복 제거 전 limit을 거는 문제
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepository.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/image/presentaion/ImageControllerTest.java
  backend/src/test/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryTest.java
  backend/src/test/java/zipgo/petfood/presentation/PetFoodControllerTest.java
Labels: 🐞 Bug, 🕋 Backend

#278 feat: 견종 목록 조회 기능
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/domain/repository/BreedsRepository.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/pet/presentation/dto/response/BreedsResponses.java
  backend/src/test/java/zipgo/pet/application/PetServiceTest.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#280 feat: 반려견 사진 등록시 기본 이미지 제공 기능
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/pet/presentation/dto/request/CreatePetRequest.java
  backend/src/main/java/zipgo/pet/presentation/dto/request/UpdatePetRequest.java
Labels: ✨ Feature, 🕋 Backend

#282 feat: 반려동물이 등록되지 않은 경우 리뷰 작성 못하도록 수정
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/hooks/query/auth.ts
  frontend/src/mocks/fixtures/auth.ts
  frontend/src/types/auth/remote.ts
Labels: ✨ Feature, 📚 Frontend

#284 feature: 반려동물 목록 조회 기능
  backend/src/main/java/zipgo/image/presentaion/ImageController.java
  backend/src/main/java/zipgo/pet/application/PetQueryService.java
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/domain/repository/PetRepository.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/pet/presentation/dto/response/PetResponse.java
  backend/src/main/java/zipgo/pet/presentation/dto/response/PetResponses.java
  backend/src/test/java/zipgo/image/presentaion/ImageControllerTest.java
  backend/src/test/java/zipgo/pet/application/PetQueryServiceTest.java
  backend/src/test/java/zipgo/pet/application/PetServiceTest.java
  backend/src/test/java/zipgo/pet/domain/fixture/PetFixture.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#286 feature: 반려동물 정보 조회 기능
  backend/src/main/java/zipgo/image/presentaion/ImageController.java
  backend/src/main/java/zipgo/pet/application/PetQueryService.java
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/pet/presentation/dto/request/CreatePetRequest.java
  backend/src/main/java/zipgo/pet/presentation/dto/request/UpdatePetRequest.java
  backend/src/test/java/zipgo/image/presentaion/ImageControllerTest.java
  backend/src/test/java/zipgo/pet/application/PetQueryServiceTest.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#264 feat: 반려동물 정보 조회, 수정, 삭제 기능 구현
  frontend/src/App.tsx
  frontend/src/apis/image.ts
  frontend/src/apis/petProfile.ts
  frontend/src/assets/svg/camera_icon.svg
  frontend/src/assets/svg/edit_icon_dark.svg
  frontend/src/assets/svg/edit_icon_light.svg
  frontend/src/assets/svg/female_icon_dark.svg
  frontend/src/assets/svg/female_icon_light.svg
  frontend/src/assets/svg/male_icon_dark.svg
  frontend/src/assets/svg/male_icon_light.svg
  frontend/src/assets/svg/trash_can_icon.svg
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Input/Input.stories.tsx
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/PetProfile/GenderRadioInput.tsx
  frontend/src/components/PetProfile/PetAgeSelect.tsx
  frontend/src/components/PetProfile/PetBreedSelect.tsx
  frontend/src/components/PetProfile/PetInfoInForm.tsx
  frontend/src/components/PetProfile/PetItem.tsx
  frontend/src/components/PetProfile/PetList.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/components/PetProfile/PetProfileImageUploader.tsx
  frontend/src/constants/petProfile.ts
  frontend/src/context/petProfile.tsx
  frontend/src/hooks/common/useImageUpload.ts
  frontend/src/hooks/petProfile.ts
  frontend/src/hooks/query/image.ts
  frontend/src/hooks/query/petProfile.ts
  frontend/src/mocks/fixtures/petProfile.ts
  frontend/src/mocks/handlers/image.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/petProfile.ts
  frontend/src/pages/PetProfile/PetProfileAddition.tsx
  frontend/src/pages/PetProfile/PetProfileAgeAddition.tsx
  frontend/src/pages/PetProfile/PetProfileBreedAddition.tsx
  frontend/src/pages/PetProfile/PetProfileEdition.tsx
  frontend/src/pages/PetProfile/PetProfileGenderAddition.tsx
  frontend/src/pages/PetProfile/PetProfileImageAddition.tsx
  frontend/src/pages/PetProfile/PetProfileNameAddition.tsx
  frontend/src/pages/PetProfile/PetProfilePetSizeAddition.tsx
  frontend/src/pages/PetProfile/PetProfileWeightAddition.tsx
  frontend/src/router/Router.tsx
  frontend/src/router/routes.ts
  frontend/src/types/image/remote.ts
  frontend/src/types/petProfile/client.ts
  frontend/src/types/petProfile/remote.ts
  frontend/src/utils/getTopicParticle.ts
Labels: ✨ Feature, 📚 Frontend

#288 feat: 반려동물 등록/수정 플로우 변경
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/application/dto/PetDto.java
  backend/src/main/java/zipgo/pet/domain/repository/BreedsRepository.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/pet/presentation/dto/request/CreatePetRequest.java
  backend/src/main/java/zipgo/pet/presentation/dto/request/UpdatePetRequest.java
  backend/src/test/java/zipgo/pet/application/PetServiceTest.java
  backend/src/test/java/zipgo/pet/domain/fixture/BreedsFixture.java
  backend/src/test/java/zipgo/pet/domain/fixture/PetSizeFixture.java
  backend/src/test/java/zipgo/pet/domain/repository/BreedsRepositoryTest.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#289 feature: 리뷰 정렬, 필터 기능 추가
  frontend/src/apis/review.ts
  frontend/src/assets/svg/align_controls.svg
  frontend/src/assets/svg/filter_controls.svg
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/@common/Tabs/Tabs.tsx
  frontend/src/components/Review/ReviewList/ReviewControls/AlignSelect/AlignSelect.tsx
  frontend/src/components/Review/ReviewList/ReviewControls/FilterDialog/FilterDialog.tsx
  frontend/src/components/Review/ReviewList/ReviewControls/ReviewControls.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/context/Select/SelectContext.tsx
  frontend/src/hooks/@common/useEasyNavigate.ts
  frontend/src/hooks/food.ts
  frontend/src/hooks/query/review.ts
  frontend/src/hooks/review/useReviewFilterList.ts
  frontend/src/mocks/fixtures/review.ts
  frontend/src/mocks/handlers/review.ts
  frontend/src/router/routes.ts
  frontend/src/types/common/utility.ts
  frontend/src/types/review/client.ts
  frontend/src/types/review/remote.ts
  frontend/src/utils/parseCheckList.ts
Labels: ✨ Feature, 📚 Frontend

#254 feat: 리뷰 요약 정보 탭 구현
  frontend/.eslintrc.js
  frontend/src/apis/review.ts
  frontend/src/components/Review/ReviewList/ReviewControls/ReviewControls.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/components/Review/ReviewList/SummaryChart/SummaryChart.tsx
  frontend/src/constants/review.ts
  frontend/src/hooks/query/review.ts
  frontend/src/mocks/fixtures/review.ts
  frontend/src/mocks/handlers/review.ts
  frontend/src/pages/FoodDetail/FoodDetail.tsx
  frontend/src/styles/theme.ts
  frontend/src/types/common/env.d.ts
  frontend/src/types/common/global.d.ts
  frontend/src/types/common/invariantOf.d.ts
  frontend/src/types/common/utility.ts
  frontend/src/types/review/client.ts
  frontend/src/types/review/remote.ts
  frontend/src/utils/invariantOf.ts
  frontend/src/utils/review.ts
Labels: ✨ Feature, 📚 Frontend

#293 feat: 반려동물 삭제 기능
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/pet/domain/Pet.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/pet/presentation/dto/response/PetResponse.java
  backend/src/test/java/zipgo/pet/application/PetServiceTest.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#276 feat: 로딩 스피너 구현
  frontend/src/assets/svg/loading_spinner.svg
  frontend/src/components/@common/LoadingSpinner.tsx
  frontend/src/index.tsx
  frontend/src/pages/Landing/Landing.tsx
Labels: ✨ Feature, 📚 Frontend

#266 feat: 식품 상세 페이지 툴팁(도움말) 구현
  frontend/.eslintrc.js
  frontend/src/assets/svg/tool_tip_btn.svg
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/InfoBlock/InfoBlock.tsx
  frontend/src/components/@common/ToolTip/ToolTip.stories.tsx
  frontend/src/components/@common/ToolTip/ToolTip.tsx
  frontend/src/components/Food/BrandBlock/BrandBlock.tsx
  frontend/src/pages/FoodDetail/FoodDetail.tsx
Labels: ✨ Feature, 📚 Frontend

#297 fix: 랜딩페이지 누락된 isFetching 추가
  frontend/src/hooks/food.ts
Labels: 🐞 Bug, 📚 Frontend

#295 feat: 토스트 컴포넌트 구현
  frontend/.eslintrc.js
  frontend/src/assets/svg/toast_info_icon.svg
  frontend/src/assets/svg/toast_success_icon.svg
  frontend/src/assets/svg/toast_warning_icon.svg
  frontend/src/components/@common/Toast/Toast.stories.tsx
  frontend/src/components/@common/Toast/Toast.tsx
  frontend/src/components/@common/Toast/ToastContainer.tsx
  frontend/src/components/@common/Toast/ToastIcon.tsx
  frontend/src/constants/toast.ts
  frontend/src/hooks/toast/useToast.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/types/toast/client.ts
Labels: ✨ Feature, 📚 Frontend

#267 feat: 에러 페이지 구현
  frontend/src/assets/svg/home_icon.svg
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/pages/Error/ErrorPage.tsx
  frontend/src/router/Router.tsx
  frontend/src/styles/globalStyle.ts
Labels: ✨ Feature, 📚 Frontend

#299 feat: 반려동물 정보 수정 폼 테스트 작성
  frontend/.pnp.cjs
  frontend/.yarn/cache/@testing-library-react-npm-14.0.0-84fecd033b-4a54c8f56c.zip
  frontend/package.json
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/hooks/query/auth.ts
  frontend/src/pages/PetProfile/PetProfileEdition/PetProfileEdition.stories.tsx
  frontend/src/pages/PetProfile/PetProfileEdition/PetProfileEdition.tsx
  frontend/src/router/Router.tsx
  frontend/yarn.lock
Labels: ✨ Feature, 📚 Frontend

#285 feat: 리뷰 요약 조회 기능 구현
  backend/src/main/java/zipgo/petfood/domain/PetFood.java
  backend/src/main/java/zipgo/petfood/domain/Reviews.java
  backend/src/main/java/zipgo/petfood/domain/repository/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
  backend/src/main/java/zipgo/review/application/ReviewService.java
  backend/src/main/java/zipgo/review/domain/type/StoolCondition.java
  backend/src/main/java/zipgo/review/domain/type/TastePreference.java
  backend/src/main/java/zipgo/review/dto/response/GetReviewsSummaryResponse.java
  backend/src/main/java/zipgo/review/dto/response/RatingSummaryElement.java
  backend/src/main/java/zipgo/review/dto/response/SummaryElement.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
  backend/src/test/resources/application.yml
Labels: ✨ Feature, 🕋 Backend

#300 chore: 쿼리 로깅 수정
  backend/src/main/resources/logback-spring.xml
Labels: 🕋 Backend, ⚙️ Setting

#303 feat: 펫 프로필 구현, 로그아웃 구현
  frontend/.eslintrc.js
  frontend/src/assets/svg/add_pet_button.svg
  frontend/src/assets/svg/bottom_drop_icon.svg
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Header/UserProfile.tsx
  frontend/src/components/PetProfile/GenderRadioInput.tsx
  frontend/src/components/PetProfile/PetItem.tsx
  frontend/src/components/PetProfile/PetList.tsx
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/context/Select/SelectContext.tsx
  frontend/src/context/petProfile/PetProfileContext.tsx
  frontend/src/hooks/auth.ts
  frontend/src/types/auth/client.ts
Labels: ✨ Feature, 📚 Frontend

#306 fix: 식품 상세 페이지 기능성 라벨 깨짐 수정
  frontend/src/components/@common/ToolTip/ToolTip.tsx
  frontend/src/pages/FoodDetail/FoodDetail.tsx
Labels: 🐞 Bug, 📚 Frontend

#307 feat: 운영환경 분리 위한 스크립트 파일 내용 변경
  backend/deploy-dev.sh
  backend/deploy-prod.sh
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: ✨ Feature, 🌍 Infrastructure

#308 feat: 도움이 돼요 기능 추가
  frontend/src/apis/review.ts
  frontend/src/assets/svg/reacted_icon.svg
  frontend/src/assets/svg/un_reacted_icon.svg
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/hooks/query/review.ts
  frontend/src/mocks/fixtures/review.ts
  frontend/src/mocks/handlers/review.ts
  frontend/src/types/review/client.ts
  frontend/src/types/review/remote.ts
Labels: ✨ Feature, 📚 Frontend

#311 feat: 리뷰 조회 응답 스키마 수정 및 정렬, 필터에 따라 재조회
  frontend/src/apis/food.ts
  frontend/src/apis/review.ts
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/mocks/handlers/review.ts
  frontend/src/types/review/remote.ts
Labels: ✨ Feature, 📚 Frontend

#314 fix: 헤더 로그인 및 레이아웃 깨짐 수정
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Header/UserProfile.tsx
  frontend/src/hooks/auth.ts
Labels: 🐞 Bug, 📚 Frontend

#291 feat: 도움이 돼요 추가/취소 기능
  backend/.gitignore
  backend/src/main/java/zipgo/common/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/review/application/ReviewService.java
  backend/src/main/java/zipgo/review/domain/Review.java
  backend/src/main/java/zipgo/review/exception/ReviewSelfReactedException.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/zipgo/review/application/ReviewsServiceTest.java
  backend/src/test/java/zipgo/review/domain/ReviewTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewRepositoryTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend

#313 hotfix : 반려동물 삭제 기능 버그 수정
  backend/src/main/java/zipgo/image/application/ImageClient.java
  backend/src/main/java/zipgo/image/application/ImageService.java
  backend/src/main/java/zipgo/image/infrastructure/aws/s3/S3PetImageClient.java
  backend/src/main/java/zipgo/pet/application/PetService.java
  backend/src/main/java/zipgo/review/domain/repository/ReviewRepository.java
  backend/src/test/java/zipgo/image/application/ImageServiceTest.java
Labels: 🐞 Bug, 🕋 Backend

#317 fix: 리뷰 없을 때도 퍼센트 제대로 나오도록 로직 수정
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepository.java
  backend/src/main/java/zipgo/review/application/ReviewQueryService.java
Labels: 🐞 Bug, 🕋 Backend

#321 chore: query 로깅 추가
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepository.java
Labels: 🐞 Bug

#323 fix: 잘못된 api 경로 수정
  frontend/src/apis/review.ts
Labels: 🐞 Bug, 📚 Frontend

#325 fix: 로그아웃 시 로컬스토리지에 petProfile이 남아있도록 수정
  frontend/src/hooks/auth.ts
Labels: 🐞 Bug, 📚 Frontend

#331 hotfix: Interceptor 내 preflight 검증 로직 추가
  backend/src/main/java/zipgo/auth/presentation/AuthInterceptor.java
Labels: 🔨 Refactor, 🕋 Backend

#332 chore: server port 8080으로 지정
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
Labels: 🐞 Bug, 🕋 Backend

#333 fix: 4차 데모 QA 반영
  frontend/src/apis/auth.ts
  frontend/src/apis/index.ts
  frontend/src/apis/review.ts
  frontend/src/components/@common/AxiosInterceptors/AxiosInterceptors.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Header/UserProfile.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/components/Review/ReviewList/ReviewList.tsx
  frontend/src/components/Review/ReviewList/SummaryChart/SummaryChart.tsx
  frontend/src/hooks/auth.ts
  frontend/src/hooks/query/auth.ts
  frontend/src/mocks/handlers/review.ts
  frontend/src/types/auth/client.ts
  frontend/src/types/auth/remote.ts
  frontend/src/types/review/remote.ts
Labels: 🐞 Bug, 📚 Frontend

#337 fix: 로그인 후 유저 인증 쿼리 무효화
  frontend/src/components/Review/ReviewList/SummaryChart/SummaryChart.tsx
  frontend/src/hooks/query/auth.ts
Labels: 🐞 Bug, 📚 Frontend

#339 fix: 로그아웃 후 유저 인증 쿼리 무효화
  frontend/src/hooks/auth.ts
Labels: 🐞 Bug, 📚 Frontend

#341 feat: 4차 데모 UX 개선
  frontend/src/components/PetProfile/PetListBottomSheet.tsx
  frontend/src/components/Review/ReviewItem/ReviewItem.tsx
  frontend/src/pages/Landing/Landing.tsx
Labels: ✨ Feature, 📚 Frontend

#344 refactor: AuthDto -> AuthCredentials 네이밍 변경
  backend/src/main/java/zipgo/auth/presentation/AuthController.java
  backend/src/main/java/zipgo/auth/presentation/JwtMandatoryArgumentResolver.java
  backend/src/main/java/zipgo/auth/presentation/OptionalJwtArgumentResolver.java
  backend/src/main/java/zipgo/auth/presentation/dto/AuthCredentials.java
  backend/src/main/java/zipgo/pet/presentation/PetController.java
  backend/src/main/java/zipgo/review/presentation/ReviewController.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
Labels: 🔨 Refactor, 🕋 Backend

#349 fix: 사용하지 않는 로그, 세미콜론 제거
  backend/src/main/java/zipgo/petfood/infra/persist/PetFoodQueryRepositoryImpl.java
Labels: 🐞 Bug, 🕋 Backend

#346 fix: 리뷰 등록 시 작성 당시 몸무게를 함께 저장
  backend/src/main/java/zipgo/auth/presentation/OptionalJwtArgumentResolver.java
  backend/src/main/java/zipgo/common/error/GlobalExceptionHandler.java
  backend/src/main/java/zipgo/common/error/ZipgoException.java
  backend/src/main/java/zipgo/image/infrastructure/aws/s3/S3Uploader.java
  backend/src/main/java/zipgo/member/domain/Member.java
  backend/src/main/java/zipgo/member/exception/PetAlreadyRegisteredException.java
  backend/src/main/java/zipgo/pet/domain/AgeGroup.java
  backend/src/main/java/zipgo/pet/exception/AgeGroupNotFoundException.java
  backend/src/main/java/zipgo/review/application/SortBy.java
  backend/src/main/java/zipgo/review/domain/repository/dto/FindReviewsFilterRequest.java
  backend/src/main/java/zipgo/review/dto/request/CreateReviewRequest.java
  backend/src/main/java/zipgo/review/dto/request/GetReviewsRequest.java
  backend/src/main/java/zipgo/review/exception/NoPetFoodIdException.java
  backend/src/main/java/zipgo/review/exception/NonPositiveSizeException.java
  backend/src/main/java/zipgo/review/exception/SortByNotFoundException.java
  backend/src/test/java/zipgo/member/domain/MemberTest.java
  backend/src/test/java/zipgo/pet/domain/AgeGroupTest.java
  backend/src/test/java/zipgo/pet/domain/fixture/PetFixture.java
  backend/src/test/java/zipgo/review/application/ReviewsServiceTest.java
  backend/src/test/java/zipgo/review/application/SortByTest.java
  backend/src/test/java/zipgo/review/domain/repository/dto/FindReviewsFilterRequestTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: 🐞 Bug, 🕋 Backend

#354 feat: 사용자 정보 확인시 이메일 및 반려동물 정보를 추가로 반환
  backend/src/main/java/zipgo/auth/presentation/AuthController.java
  backend/src/main/java/zipgo/auth/presentation/dto/AuthResponse.java
  backend/src/main/java/zipgo/auth/presentation/dto/TokenResponse.java
  backend/src/main/java/zipgo/pet/domain/Gender.java
  backend/src/main/java/zipgo/pet/presentation/dto/response/PetResponse.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerMockArgumentResolverTest.java
  backend/src/test/java/zipgo/auth/presentation/AuthControllerTest.java
  backend/src/test/java/zipgo/pet/application/PetQueryServiceTest.java
  backend/src/test/java/zipgo/pet/domain/PetTest.java
  backend/src/test/java/zipgo/pet/domain/fixture/PetFixture.java
  backend/src/test/java/zipgo/pet/presentation/PetControllerTest.java
  backend/src/test/java/zipgo/review/application/ReviewQueryServiceTest.java
  backend/src/test/java/zipgo/review/application/ReviewsServiceTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewQueryRepositoryImplTest.java
  backend/src/test/java/zipgo/review/domain/repository/ReviewRepositoryTest.java
  backend/src/test/java/zipgo/review/presentation/ReviewControllerTest.java
Labels: ✨ Feature, 🕋 Backend
